<div class="happy_clients">
    <div class="inner_happy_clients">
        <div class="happy_clients_header">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="full_txt">
                            <h2>Our happy clients says</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- happy_clients_sliding_section -->
        <div class="happy_clients_sliding_section">
            <div class="inner_happy_clients_sliding_section">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="sliding_item_container " style="width: 100%; ">
                                <owl-carousel-o [options]="customOptions">
                                    <ng-template carouselSlide>
                                        <div class="slide_item">
                                            <div class="id_count">
                                                <h4>1/<span>03</span></h4>
                                            </div>
                                            <div class="top_slide">
                                                <h3>They did a very<br>good job 11</h3>
                                            </div>
                                            <div class="bottom_slide">
                                                <div class="row">
                                                    <div class="col-xl-3">
                                                        <div class="clients_profile">
                                                            <img src="./assets/images/clients.png" alt=""
                                                                srcset="">
                                                        </div>
                                                    </div>
                                                    <div class="col-xl-9">
                                                        <div class="testimonial_sliding_content">
                                                            <div class="quate_area">
                                                                <img src="./assets/images/quate.png" alt=""
                                                                    srcset="">
                                                            </div>
                                                            <div class="testint">
                                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing
                                                                    elit. Nunc lobortis diam a hendrerit maximus.
                                                                    Vestibulum tincidunt gravida odio, sed facilisis
                                                                    odio lacinia in. Sed tincidunt dolor quis
                                                                    ante pellentesque rutrum.
                                                                </p>
                                                            </div>
                                                            <div class="user_name">
                                                                <h4>Name</h4>
                                                                <p>Location</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-template>
                                    <ng-template carouselSlide>
                                        <div class="slide_item">
                                            <div class="id_count">
                                                <h4>2/<span>03</span></h4>
                                            </div>
                                            <div class="top_slide">
                                                <h3>They did a very<br>good job 22</h3>
                                            </div>
                                            <div class="bottom_slide">
                                                <div class="row">
                                                    <div class="col-xl-3">
                                                        <div class="clients_profile">
                                                            <img src="./assets/images/clients.png" alt=""
                                                                srcset="">
                                                        </div>
                                                    </div>
                                                    <div class="col-xl-9">
                                                        <div class="testimonial_sliding_content">
                                                            <div class="quate_area">
                                                                <img src="./assets/images/quate.png" alt=""
                                                                    srcset="">
                                                            </div>
                                                            <div class="testint">
                                                                <p>Lorem ipsum dolor sit amet, hendrerit maximus.
                                                                    Vestibulum tincidunt gravida odio, sed facilisis
                                                                    odio lacinia in. Sed tincidunt dolor quis ante
                                                                    pellentesque rutrum.consectetur adipiscing elit.
                                                                    Nunc lobortis diam a
                                                                </p>
                                                            </div>
                                                            <div class="user_name">
                                                                <h4>Name</h4>
                                                                <p>Location</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-template>
                                    <ng-template carouselSlide>
                                        <div class="slide_item">
                                            <div class="id_count">
                                                <h4>3/<span>03</span></h4>
                                            </div>

                                            <div class="top_slide">
                                                <h3>They did a very<br>good job 33</h3>
                                            </div>
                                            <div class="bottom_slide">
                                                <div class="row">
                                                    <div class="col-xl-3">
                                                        <div class="clients_profile">
                                                            <img src="./assets/images/clients.png" alt=""
                                                                srcset="">
                                                        </div>
                                                    </div>
                                                    <div class="col-xl-9">
                                                        <div class="testimonial_sliding_content">
                                                            <div class="quate_area">
                                                                <img src="./assets/images/quate.png" alt=""
                                                                    srcset="">
                                                            </div>
                                                            <div class="testint">
                                                                <p>Nunc lobortis diam a hendrerit maximus. Vestibulum
                                                                    tincidunt gravida odio, sed facilisis odio lacinia
                                                                    in. Sed tincidunt dolor quis ante pellentesque
                                                                    rutrum.Lorem ipsum dolor sit amet, consectetur
                                                                    adipiscing elit.
                                                                </p>
                                                            </div>
                                                            <div class="user_name">
                                                                <h4>Name</h4>
                                                                <p>Location</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-template>
                                </owl-carousel-o>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>