<div class="banner_section">
    <div class="inner_banner_section">
    </div>
</div>
<div class="brands_section_area">
    <div class="inner_brands_section">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-12 blog-content" style=" padding: 5%; ">
                    <div class="main_brands_area">
                        <div class="inner_breand_logo">
                            <div class="inner_choose_car_box">
                                <div class="choose_car_box_main">
                                    <div class="row">
                                        <div class="col-xl-12 col-12">
                                            <div class="service_image_section">
                                                <div class="inner_service_image_section">
                                                    <img src="./assets/images/blog_1.png" alt="" srcset=""
                                                        style="z-index: 1;">
                                                </div>
                                            </div>
                                            <br>
                                            <div class="about-service">
                                                <p class="blog_date">By Carcility July 26, 2023</p>
                                                <strong>
                                                    <p class="blog_heading">Lorem ipsum dolor sit amet,consectetur
                                                        adipiscing elit.In diam elit, vehicula eget ante eu.</p>
                                                </strong>
                                                <br>
                                                <p class="blog_body">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eu
                                                    placerat risus. Morbi euismod molestie faucibus. Nunc egestas nulla
                                                    non tempus sollicitudin. Donec vestibulum orci non efficitur
                                                    sodales. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                    Nulla in ex eget odio fringilla tempor. Lorem ipsum dolor sit amet,
                                                    consectetur adipiscing elit. Nunc eu placerat risus. Morbi euismod
                                                    molestie faucibus. Nunc egestas nulla non tempus sollicitudin. Donec
                                                    vestibulum orci non efficitur sodales. Lorem ipsum dolor sit amet,
                                                    consectetur adipiscing elit. Nulla in ex eget odio fringilla tempor.
                                                </p>
                                                <br>
                                                <p class="blog_body">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eu
                                                    placerat risus. Morbi euismod molestie faucibus. Nunc egestas nulla
                                                    non tempus sollicitudin. Donec vestibulum orci non efficitur
                                                    sodales. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                    Nulla in ex eget odio fringilla tempor.
                                                </p>
                                                <br>
                                                <p class="blog_body">
                                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eu
                                                    placerat risus. Morbi euismod molestie faucibus. Nunc egestas nulla
                                                    non tempus sollicitudin. Donec vestibulum orci non efficitur
                                                    sodales. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                    Nulla in ex eget odio fringilla tempor. Lorem ipsum dolor sit amet,
                                                    consectetur adipiscing elit. Nunc eu placerat risus. Morbi euismod
                                                    molestie faucibus. Nunc egestas nulla non tempus sollicitudin. Donec
                                                    vestibulum orci non efficitur sodales. Lorem ipsum dolor sit amet,
                                                    consectetur adipiscing elit. Nulla in ex eget odio fringilla tempor.
                                                </p>
                                                <br>
                                                <div class="row">
                                                    <div class="col-xl-6 col-12 footerimages">
                                                        <img src="./assets/images/fb_image.png" alt=""
                                                            srcset="" style="z-index: 1;">
                                                        <img src="./assets/images/l_image.png" alt=""
                                                            srcset="" style="z-index: 1;">
                                                        <img src="./assets/images/in_image.png" alt=""
                                                            srcset="" style="z-index: 1;">
                                                        <img src="./assets/images/pin_image.png" alt=""
                                                            srcset="" style="z-index: 1;">
                                                        <img src="./assets/images/twitter_image.png" alt=""
                                                            srcset="" style="z-index: 1;">
                                                        <img src="./assets/images/wa_image.png" alt=""
                                                            srcset="" style="z-index: 1;">
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="row">
                                                    <div class="col-xl-4 col-6" style=" padding: 0% !important; ">
                                                        <img src="./assets/images/blog_2.png"
                                                            style="z-index: 1;width: 362px;height: 227px;float: left;">
                                                    </div>
                                                    <div class="col-xl-2 col-12" style=" text-align: left; ">
                                                        <p class="blog_date">
                                                            Lorem ipsum dolor sit amet, cons ectetur adipiscing elit.
                                                        </p>
                                                        <br>
                                                        <div class="row">
                                                            <div class="col-xl-2 col-2">
                                                                <img src="./assets/images/prev.png"
                                                                    style="z-index: 1;width: 30px;height: 30px;float: left;">
                                                            </div>
                                                            <div class="col-xl-10 col-10">
                                                                <p class="blog_date" style="text-align: left;">Previous
                                                                    article</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xl-2 col-12" style=" text-align: right; ">
                                                        <p class="blog_date">
                                                            Lorem ipsum dolor sit amet, cons ectetur adipiscing elit.
                                                        </p>
                                                        <br>
                                                        <div class="row">
                                                            <div class="col-xl-10 col-10">
                                                                <p class="blog_date" style="text-align: right;">Next
                                                                    article</p>
                                                            </div>
                                                            <div class="col-xl-2 col-2">
                                                                <img src="./assets/images/next.png"
                                                                    style="z-index: 1;width: 30px;height: 30px;float: left;">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xl-4 col-12" style=" padding: 0% !important; ">
                                                        <img src="./assets/images/blog_2.png"
                                                            style="z-index: 1;width: 362px;height: 227px;float: right;">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>