<div class="banner_section">
    <div class="inner_banner_section">
    </div>
</div>
<div class="brands_section_area">
    <div class="inner_brands_section">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 service-content">
                    <div class="main_brands_area">
                        <div class="inner_breand_logo">
                            <h2 style="color: white;font-family: 'Montserrat-Semibold', sans-serif;">FAQ</h2>
                            <div class="card">
                                <div class="choose_car_box">
                                    <mat-accordion>
                                        <mat-expansion-panel [expanded]="panelOpenState1" (opened)="panelOpenState1 = true"
                                            (closed)="panelOpenState1 = false">
                                            <mat-expansion-panel-header>
                                                <mat-panel-title>
                                                    <strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</strong>
                                                </mat-panel-title>
                                            </mat-expansion-panel-header>
                                            <div class="inner_choose_car_box">
                                                <div class="choose_car_box_main">
                                                    <div class="row">
                                                        <div class="form_heading">
                                                            <div class="about-service">
                                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In diam
                                                                    elit,
                                                                    vehicula eget ante eu, ultricies feu- giat arcu. Sed eget
                                                                    consectetur erat,
                                                                    nec ornare tellus. Proin mattis porttitor dui.Lorem ipsum dolor
                                                                    sit
                                                                    amet,
                                                                    consectetur adipiscing elit. In diam elit, vehicula eget ante
                                                                    eu,
                                                                    ultricies
                                                                    feugiat arcu.Lorem ipsum dolor sit amet, consectetur adipiscing elit. In diam
                                                                    elit,
                                                                    vehicula eget ante eu, ultricies feu- giat arcu. Sed eget
                                                                    consectetur erat,
                                                                    nec ornare tellus. Proin mattis porttitor dui.Lorem ipsum dolor
                                                                    sit
                                                                    amet,
                                                                    consectetur adipiscing elit. In diam elit, vehicula eget ante
                                                                    eu,
                                                                    ultricies
                                                                    feugiat arcu.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </mat-expansion-panel>
                                    </mat-accordion>
                                    <br>
                                    <mat-accordion>
                                        <mat-expansion-panel (opened)="panelOpenState2 = true"
                                        (closed)="panelOpenState2 = false">
                                            <mat-expansion-panel-header>
                                                <mat-panel-title>
                                                    <strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</strong>
                                                </mat-panel-title>
                                            </mat-expansion-panel-header>
                                            <div class="inner_choose_car_box">
                                                <div class="choose_car_box_main">
                                                    <div class="row">
                                                        <div class="form_heading">
                                                            <div class="about-service">
                                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In diam
                                                                    elit,
                                                                    vehicula eget ante eu, ultricies feu- giat arcu. Sed eget
                                                                    consectetur erat,
                                                                    nec ornare tellus. Proin mattis porttitor dui.Lorem ipsum dolor
                                                                    sit
                                                                    amet,
                                                                    consectetur adipiscing elit. In diam elit, vehicula eget ante
                                                                    eu,
                                                                    ultricies
                                                                    feugiat arcu.Lorem ipsum dolor sit amet, consectetur adipiscing elit. In diam
                                                                    elit,
                                                                    vehicula eget ante eu, ultricies feu- giat arcu. Sed eget
                                                                    consectetur erat,
                                                                    nec ornare tellus. Proin mattis porttitor dui.Lorem ipsum dolor
                                                                    sit
                                                                    amet,
                                                                    consectetur adipiscing elit. In diam elit, vehicula eget ante
                                                                    eu,
                                                                    ultricies
                                                                    feugiat arcu.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </mat-expansion-panel>
                                    </mat-accordion>
                                    <br>
                                    <mat-accordion>
                                        <mat-expansion-panel (opened)="panelOpenState2 = true"
                                        (closed)="panelOpenState2 = false">
                                            <mat-expansion-panel-header>
                                                <mat-panel-title>
                                                    <strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</strong>
                                                </mat-panel-title>
                                            </mat-expansion-panel-header>
                                            <div class="inner_choose_car_box">
                                                <div class="choose_car_box_main">
                                                    <div class="row">
                                                        <div class="form_heading">
                                                            <div class="about-service">
                                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In diam
                                                                    elit,
                                                                    vehicula eget ante eu, ultricies feu- giat arcu. Sed eget
                                                                    consectetur erat,
                                                                    nec ornare tellus. Proin mattis porttitor dui.Lorem ipsum dolor
                                                                    sit
                                                                    amet,
                                                                    consectetur adipiscing elit. In diam elit, vehicula eget ante
                                                                    eu,
                                                                    ultricies
                                                                    feugiat arcu.Lorem ipsum dolor sit amet, consectetur adipiscing elit. In diam
                                                                    elit,
                                                                    vehicula eget ante eu, ultricies feu- giat arcu. Sed eget
                                                                    consectetur erat,
                                                                    nec ornare tellus. Proin mattis porttitor dui.Lorem ipsum dolor
                                                                    sit
                                                                    amet,
                                                                    consectetur adipiscing elit. In diam elit, vehicula eget ante
                                                                    eu,
                                                                    ultricies
                                                                    feugiat arcu.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </mat-expansion-panel>
                                    </mat-accordion>
                                    <br>
                                    <mat-accordion>
                                        <mat-expansion-panel (opened)="panelOpenState2 = true"
                                        (closed)="panelOpenState2 = false">
                                            <mat-expansion-panel-header>
                                                <mat-panel-title>
                                                    <strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</strong>
                                                </mat-panel-title>
                                            </mat-expansion-panel-header>
                                            <div class="inner_choose_car_box">
                                                <div class="choose_car_box_main">
                                                    <div class="row">
                                                        <div class="form_heading">
                                                            <div class="about-service">
                                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In diam
                                                                    elit,
                                                                    vehicula eget ante eu, ultricies feu- giat arcu. Sed eget
                                                                    consectetur erat,
                                                                    nec ornare tellus. Proin mattis porttitor dui.Lorem ipsum dolor
                                                                    sit
                                                                    amet,
                                                                    consectetur adipiscing elit. In diam elit, vehicula eget ante
                                                                    eu,
                                                                    ultricies
                                                                    feugiat arcu.Lorem ipsum dolor sit amet, consectetur adipiscing elit. In diam
                                                                    elit,
                                                                    vehicula eget ante eu, ultricies feu- giat arcu. Sed eget
                                                                    consectetur erat,
                                                                    nec ornare tellus. Proin mattis porttitor dui.Lorem ipsum dolor
                                                                    sit
                                                                    amet,
                                                                    consectetur adipiscing elit. In diam elit, vehicula eget ante
                                                                    eu,
                                                                    ultricies
                                                                    feugiat arcu.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </mat-expansion-panel>
                                    </mat-accordion>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>