.center_text {
    text-align: center;
}

.service_inner_area {
    padding-top: 40px;
}

.section_heading.center_text>h3 {
    font-size: 45px;
    font-weight: 700;
}

.section_heading.center_text>p {
    font-size: 20px;
    margin-bottom: 0px;
    color: #666666;
}

.profile-details {
    font-family: 'Montserrat-Regular', sans-serif;
    font-size: 22px; 
}

.service_img>img {
    width: 100%;
}

.card_content {
    text-align: left;
}

.service_card_content {
    text-align: center;
}

.service_card {
    background-color: #FFFFFF;
}

.service_card_content {
    padding: 24px 0px;
}

.service_card_content>h4 {
    margin-bottom: 0px;
    font-weight: 700;
}

.service_card_content>h4>span {
    font-weight: 500 !important;
    font-size: 22px;
    margin-left: 8px;
}

.service_card {
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 13px 18px 2px #22222233;
}

.service_heading {
    margin-bottom: 30px;
}

.service_card:hover {
    top: -50px;
    transition: 1.5s;
}

.card_parent {
    transition: 1.5s all;
}

.service_card {
    position: relative;
    transition: 1.5s;
    cursor: pointer;
}

.hover_content {
    padding: 0px 15px;
}

.hover_content {
    margin-bottom: 0px;
    z-index: -1;
    height: 0;
    position: relative;
}

.hover_content {
    position: relative;
    top: -100px;
    transition: 0.5s;
}

.card_parent:hover .hover_content {
    position: relative;
    top: -20px;
}

.card_image_section {
    text-align: left;
    margin-bottom: 10px;
}

.card_image_section img {
    border-radius: 50%;
}

.outlinebutton>button {
    font-family: 'Montserrat-Semibold', sans-serif;
    font-size: 14px;
    text-align: center;
    width: 100%;
    padding: 10px;
    border: 1px solid #CCCCCC;
    border-radius: 50px;
    outline: none;
    background-color: white;
    color: black;
    text-transform: uppercase;
}

.status_heading{
    text-align: left;
    font-family: 'Montserrat-Bold', sans-serif;
    font-size: 22px;
}

.viewdetails {
    text-align: left;
}

.viewdetails>button {
    font-family: 'Montserrat-Semibold', sans-serif;
    font-size: 14px;
    text-align: center;
    width: 50%;
    padding: 10px;
    border: 1px solid #CCCCCC;
    border-radius: 50px;
    outline: none;
    background-color: #C4C4C4;
    color: black;
    text-transform: uppercase;
}


/* RESPONSIVE CSS */

@media only screen and (max-width: 375px) and (min-width: 346px) {}

@media only screen and (max-width: 544px) and (min-width: 375px) {}

@media only screen and (max-width: 555px) and (min-width: 376px) {}

@media only screen and (max-width: 768px) and (min-width: 544px) {}

@media only screen and (max-width: 1222px) and (min-width: 999px) {}

@media only screen and (max-width: 1658px) and (min-width: 1000px) {}

@media only screen and (max-width: 1366px) and (min-width: 993px) {}

@media only screen and (max-width: 999px) and (min-width: 300px) {}

@media only screen and (max-width: 826px) and (min-width: 300px) {
    .card_parent {
        margin-bottom: 50px;
    }
    .inner_how_it_works_image_section>img {
        width: 100% !important;
        position: unset !important;
    }
    .inner_how_it_works_image_section {
        margin-bottom: 50px;
    }
    .card_image_section {
        text-align: center;
        margin-bottom: 10px;
    }
    .card_content {
        text-align: left;
        margin-left: 0;
    }
    .outlinebutton{
        margin-bottom: 2%;
    }
    .viewdetails {
        text-align: center;
    }
}

@media only screen and (max-width: 480px) and (min-width: 300px) {}

@media only screen and (max-width: 370px) and (min-width: 320px) {}

@media only screen and (max-width: 900px) and (min-width: 370px) {}

@media only screen and (max-width: 790px) and (min-width: 300px) {}

@media only screen and (max-width: 1920px) and (min-width: 1080px) {}

@media only screen and (max-width: 999px) and (min-width: 826px) {}

@media only screen and (max-width: 11200px) and (min-width: 1600px) {}

@media only screen and (max-width: 999px) and (min-width: 400px) {}

@media only screen and (max-width: 999px) and (min-width: 551px) {}

@media only screen and (max-width: 1382px) and (min-width: 1000px) {}

@media only screen and (max-width: 1422px) and (min-width: 1000px) {}

@media only screen and (max-width: 1524px) and (min-width: 1422px) {}

@media only screen and (max-width: 1657) and (min-width: 1524px) {}

@media only screen and (max-width: 11200px) and (min-width: 1400px) {}

@media only screen and (max-width: 1000px) and (min-width: 700px) {}

@media only screen and (max-width: 999px) and (min-width: 300px) {}

@media only screen and (max-width: 999px) and (min-width: 768px) {}

@media only screen and (max-width: 4999px) and (min-width: 999px) {}

@media only screen and (max-height: 4999px) and (min-height: 990px) {}
