<div class="how_it_works_section">
    <div class="inner_how_it_works_section">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-md-6 col-12 ">
                    <div class="how_it_works_image_section">
                        <div class="inner_how_it_works_image_section">
                            <img src="./assets/images/how_it_works.png" alt="" srcset="">
                        </div>
                    </div>
                </div>
                <div class="col-xl-8 col-md-6 col-12 ">
                    <div class="how_it_works_content_container">
                        <div class="how_it_works_inner_container">
                            <div class="sub_section_heading">
                                <h4>How it works</h4>
                                <p>Easy to book a cleaning
                                </p>
                            </div>
                            <div class="sub_section_point">
                                <div class="inner_sub_section_point">
                                    <ul>
                                        <li><span class="works_icon"><img src="./assets/images/one.png"
                                                    class="" /></span>
                                            <span class="point">1</span><span class="point_content">Select the perfect
                                                car<br>
                                                service </span>
                                        </li>
                                        <li><span class="works_icon"><img src="./assets/images/two.png"
                                                    class="" /></span>
                                            <span class="point">2</span><span class="point_content">Schedule free
                                                doorstep<br>
                                                pick-up</span>
                                        </li>
                                        <li><span class="works_icon"><img src="./assets/images/three.png"
                                                    class="" /></span>
                                            <span class="point">3</span><span class="point_content">Track your car
                                                service<br>
                                                real time </span>
                                        </li>
                                        <li><span class="works_icon"><img src="./assets/images/four.png"
                                                    class="" /></span>
                                            <span class="point">4</span><span class="point_content">Earn while<br>
                                                we service </span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>