<div class="service">
    <div class="service_inner_area">
        <div class="service_heading">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="section_heading center_text">
                            <h3>Services</h3>
                            <p>Revitalize your vehicle's performance and appearance with our comprehensive auto care services. From routine maintenance to advanced diagnostics and repairs, we offer a full spectrum of solutions tailored to meet your automotive needs. Our skilled technicians employ state-of-the-art equipment and industry-leading techniques to ensure your vehicle receives the care it deserves. Whether it's a simple oil change, brake inspection, or intricate engine repair, trust us to keep your vehicle running smoothly and looking its best. Experience unparalleled expertise and customer service as we go the extra mile to keep you safely on the road.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="service_section_content">
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-md-6 col-12 card_parent" *ngFor="let data of serviceData">
                        <div class="service_card">
                            <div class="inner_service_card" (click)="bookNow(data.package.pkg_id)">
                                <div class="service_img">
                                    <img [src]="base_url + data.package.pkg_imageurl" alt="Service Image" class="service_img" />
                                </div>
                                <div class="service_card_content">
                                    <h4>{{data.package.pkg_name}} <span><i class="fa-solid fa-angle-right"></i></span></h4>
                                </div>
                            </div>
                        </div>
                        <div class="hover_content">
                            <p>
                                <!-- {{data.package.pkg_description}} -->
                            </p>
                        </div>
                    </div>
                    <!-- <div class="col-xl-3 col-md-6 col-12 card_parent">
                        <div class="service_card">
                            <div class="inner_service_card">
                                <div class="service_img">
                                    <img src="./assets/images/minor_service.png" alt="" class="service_img" />
                                </div>
                                <div class="service_card_content">
                                    <h4>Minor Service <span><i class="fa-solid fa-angle-right"></i></span></h4>
                                </div>
                            </div>

                        </div>
                        <div class="hover_content">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. facilisis odio lacinia in.
                            </p>
                        </div>
                    </div> -->
                    <!-- <div class="col-xl-3 col-md-6 col-12 card_parent">
                        <div class="service_card">
                            <div class="inner_service_card">
                                <div class="service_img">
                                    <img src="./assets/images/major_service.png" alt="" class="service_img" />
                                </div>
                                <div class="service_card_content">
                                    <h4>Major Service <span><i class="fa-solid fa-angle-right"></i></span></h4>
                                </div>
                            </div>

                        </div>
                        <div class="hover_content">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. facilisis odio lacinia in.
                            </p>
                        </div>
                    </div> -->
                    <!-- <div class="col-xl-3 col-md-6 col-12 card_parent">
                        <div class="service_card">
                            <div class="inner_service_card">
                                <div class="service_img">
                                    <img src="./assets/images/car_service.png" alt="" class="service_img" />
                                </div>
                                <div class="service_card_content">
                                    <h4>Car Service <span><i class="fa-solid fa-angle-right"></i></span></h4>
                                </div>
                            </div>

                        </div>
                        <div class="hover_content">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. facilisis odio lacinia in.
                            </p>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>
