<div class="banner_section">
    <div class="inner_banner_section">
    </div>
</div>
<div class="brands_section_area">
    <div class="inner_brands_section">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 service-content">
                    <div class="main_brands_area">
                        <div class="inner_breand_logo">
                            <h2 class="heading">Offers</h2>
                            <div class="choose_car_box">
                                <div class="inner_choose_car_box">
                                    <div class="choose_car_box_main">
                                        <div class="row">
                                            <div class="col-xl-7">
                                                <div class="service_image_section">
                                                    <div class="inner_service_image_section">
                                                        <img src="./assets/images/offers.png" alt=""
                                                            srcset="" style="z-index: 1;">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xl-5">
                                                <h2 class="offer-heading">Offer 1</h2>
                                                <div class="form_heading">
                                                    <div>
                                                        <p class="about-service">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In diam
                                                            elit,
                                                            vehicula eget ante eu, ultricies feu- giat arcu. Sed eget
                                                            consectetur erat,
                                                            nec ornare tellus. Proin mattis porttitor dui.Lorem ipsum dolor
                                                            sit
                                                            amet,
                                                            consectetur adipiscing elit. In diam elit, vehicula eget ante
                                                            eu,
                                                            ultricies
                                                            feugiat arcu.Lorem ipsum dolor sit amet, consectetur adipiscing elit. In diam
                                                            elit,
                                                            vehicula eget ante eu, ultricies feu- giat arcu. Sed eget
                                                            consectetur erat,
                                                            nec ornare tellus. Proin mattis porttitor dui.Lorem ipsum dolor
                                                            sit
                                                            amet,
                                                            consectetur adipiscing elit. In diam elit, vehicula eget ante
                                                            eu,
                                                            ultricies
                                                            feugiat arcu.</p>
                                                    </div>
                                                    <br>
                                                    <div class="book_now_btn">
                                                        <button>Book Now</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <br><br>
                                        <div class="row">
                                            <div class="col-xl-7">
                                                <div class="service_image_section">
                                                    <div class="inner_service_image_section">
                                                        <img src="./assets/images/offers.png" alt=""
                                                            srcset="" style="z-index: 1;">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xl-5">
                                                <h2 class="offer-heading">Offers 2</h2>
                                                <div class="form_heading">
                                                    <div>
                                                        <p class="about-service">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In diam
                                                            elit,
                                                            vehicula eget ante eu, ultricies feu- giat arcu. Sed eget
                                                            consectetur erat,
                                                            nec ornare tellus. Proin mattis porttitor dui.Lorem ipsum dolor
                                                            sit
                                                            amet,
                                                            consectetur adipiscing elit. In diam elit, vehicula eget ante
                                                            eu,
                                                            ultricies
                                                            feugiat arcu.Lorem ipsum dolor sit amet, consectetur adipiscing elit. In diam
                                                            elit,
                                                            vehicula eget ante eu, ultricies feu- giat arcu. Sed eget
                                                            consectetur erat,
                                                            nec ornare tellus. Proin mattis porttitor dui.Lorem ipsum dolor
                                                            sit
                                                            amet,
                                                            consectetur adipiscing elit. In diam elit, vehicula eget ante
                                                            eu,
                                                            ultricies
                                                            feugiat arcu.</p>
                                                    </div>
                                                    <br>
                                                    <div class="book_now_btn">
                                                        <button>Book Now</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <br><br>
                                        <div class="row">
                                            <div class="col-xl-7">
                                                <div class="service_image_section">
                                                    <div class="inner_service_image_section">
                                                        <img src="./assets/images/offers.png" alt=""
                                                            srcset="" style="z-index: 1;">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xl-5">
                                                <h2 class="offer-heading">Offers 3</h2>
                                                <div class="form_heading">
                                                    <div>
                                                        <p class="about-service">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In diam
                                                            elit,
                                                            vehicula eget ante eu, ultricies feu- giat arcu. Sed eget
                                                            consectetur erat,
                                                            nec ornare tellus. Proin mattis porttitor dui.Lorem ipsum dolor
                                                            sit
                                                            amet,
                                                            consectetur adipiscing elit. In diam elit, vehicula eget ante
                                                            eu,
                                                            ultricies
                                                            feugiat arcu.Lorem ipsum dolor sit amet, consectetur adipiscing elit. In diam
                                                            elit,
                                                            vehicula eget ante eu, ultricies feu- giat arcu. Sed eget
                                                            consectetur erat,
                                                            nec ornare tellus. Proin mattis porttitor dui.Lorem ipsum dolor
                                                            sit
                                                            amet,
                                                            consectetur adipiscing elit. In diam elit, vehicula eget ante
                                                            eu,
                                                            ultricies
                                                            feugiat arcu.</p>
                                                    </div>
                                                    <br>
                                                    <div class="book_now_btn">
                                                        <button>Book Now</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <br><br>
                                        <div class="row">
                                            <div class="col-xl-7">
                                                <div class="service_image_section">
                                                    <div class="inner_service_image_section">
                                                        <img src="./assets/images/offers.png" alt=""
                                                            srcset="" style="z-index: 1;">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xl-5">
                                                <h2 class="offer-heading">Offers 4</h2>
                                                <div class="form_heading">
                                                    <div>
                                                        <p class="about-service">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In diam
                                                            elit,
                                                            vehicula eget ante eu, ultricies feu- giat arcu. Sed eget
                                                            consectetur erat,
                                                            nec ornare tellus. Proin mattis porttitor dui.Lorem ipsum dolor
                                                            sit
                                                            amet,
                                                            consectetur adipiscing elit. In diam elit, vehicula eget ante
                                                            eu,
                                                            ultricies
                                                            feugiat arcu.Lorem ipsum dolor sit amet, consectetur adipiscing elit. In diam
                                                            elit,
                                                            vehicula eget ante eu, ultricies feu- giat arcu. Sed eget
                                                            consectetur erat,
                                                            nec ornare tellus. Proin mattis porttitor dui.Lorem ipsum dolor
                                                            sit
                                                            amet,
                                                            consectetur adipiscing elit. In diam elit, vehicula eget ante
                                                            eu,
                                                            ultricies
                                                            feugiat arcu.</p>
                                                    </div>
                                                    
                                                    <br>
                                                    <div class="book_now_btn">
                                                        <button>Book Now</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>