<div class="banner_section">
    <div class="inner_banner_section">
    </div>
</div>
<div class="brands_section_area">
    <div class="inner_brands_section">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 team-content">
                    <div class="main_brands_area">
                        <div class="inner_breand_logo">
                            <h2 class="heading">Team</h2>
                            <div class="choose_car_box">
                                <div class="inner_choose_car_box">
                                    <div class="choose_car_box_main">
                                        <div class="form_heading">
                                            <p class="team_p1">Lorem ipsum dolor sit amet,
                                                consectetur adipiscing elit. In diam elit,
                                                vehicula eget ante eu, ultricies feu- giat arcu. Sed eget consectetur erat,
                                                nec ornare tellus. Proin mattis porttitor dui.Lorem ipsum dolor sit amet,
                                                consectetur adipiscing elit. In diam elit, vehicula eget</p>
                                        </div>
                                        <div class="row">
                                            <div class="col-xl-3">
                                                <div class="team_image_section">
                                                    <div class="inner_team_image_section">
                                                        <img src="./assets/images/team_1.png" alt=""
                                                            srcset="" style="z-index: 1;">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xl-9 desigination_details">
                                                <h2 class="name">Name</h2>
                                                <h2 class="desigination">Desigination</h2>
                                                <div class="form_heading">
                                                    <div class="about-service">
                                                        <p class="desigination_p1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean aliquam urna eget consectetur aliquam. Morbi convallis elit nisl, vehicula porttitor massa euismod quis. Donec luctus maximus lorem, quis rhoncus est ultricies sed. Nam placerat magna diam, quis consectetur arcu congue ut. Nulla lacinia libero euismod, ullamcorper diam quis, bibendum ante. Sed et malesuada tortor, ac gravida dui. Duis lacinia rutrum mattis. Sed tempus urna dignissim egestas tempor. Proin posuere, nibh at volutpat tincidunt, libero ex vulputate nisi, sit amet accumsan enim lorem nec tellus. Sed molestie, metus in feugiat tristique, sapien elit efficitur mi, eget posuere sem nunc nec odio. Sed eget scelerisque lorem, id posuere sapien. Suspendisse ut est eget felis porta luctus. Suspendisse potenti.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <br><br>
                                        <div class="row">
                                            <div class="col-xl-3">
                                                <div class="team_image_section">
                                                    <div class="inner_team_image_section">
                                                        <img src="./assets/images/team_2.png" alt=""
                                                            srcset="" style="z-index: 1;">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xl-9 desigination_details">
                                                <h2 class="name">Name</h2>
                                                <h2 class="desigination">Desigination</h2>
                                                <div class="form_heading">
                                                    <div class="about-service">
                                                        <p class="desigination_p1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean aliquam urna eget consectetur aliquam. Morbi convallis elit nisl, vehicula porttitor massa euismod quis. Donec luctus maximus lorem, quis rhoncus est ultricies sed. Nam placerat magna diam, quis consectetur arcu congue ut. Nulla lacinia libero euismod, ullamcorper diam quis, bibendum ante. Sed et malesuada tortor, ac gravida dui. Duis lacinia rutrum mattis. Sed tempus urna dignissim egestas tempor. Proin posuere, nibh at volutpat tincidunt, libero ex vulputate nisi, sit amet accumsan enim lorem nec tellus. Sed molestie, metus in feugiat tristique, sapien elit efficitur mi, eget posuere sem nunc nec odio. Sed eget scelerisque lorem, id posuere sapien. Suspendisse ut est eget felis porta luctus. Suspendisse potenti.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>