<div class="banner_section">
  <div class="inner_banner_section"></div>
</div>
<div class="brands_section_area">
  <div class="inner_brands_section">
    <div class="container">
      <div class="row">
        <div class="col-xl-12 profile-content">
          <div class="main_brands_area">
            <div class="inner_breand_logo">
              <div class="choose_car_box">
                <div class="inner_choose_car_box">
                  <div class="choose_car_box_main">
                    <div class="row">
                      <div class="col-xl-6">
                        <div class="col-md-6">
                          <h2 class="heading">Personal Details</h2>
                        </div>
                        <div class="profile_card">
                          <div class="row picture">
                            <div class="col-xl-4">
                              <div class="card_image_section">
                                <img
                                  src="./assets/images/default_profile.png"
                                  alt=""
                                  srcset=""
                                  style="z-index: 1; width: 11vw"
                                />
                              </div>
                            </div>
                            <div class="col-xl-8 align-self-center">
                              <div class="card_content">
                                <p class="profile-details">
                                  <strong>Name:</strong>
                                  {{ custData.cust_fullname }}
                                </p>
                                <p class="profile-details">
                                  <strong>State:</strong>
                                  {{ custData.state_name }}
                                </p>
                                <p class="profile-details">
                                  <strong>Email:</strong>
                                  {{ custData.cust_email }}
                                </p>
                                <p class="profile-details">
                                  <strong>Mobile:</strong> +971
                                  {{ custData.cust_phone }}
                                </p>
                              </div>
                            </div>
                            <div>
                              <ul class="list-group list-group-flush">
                                <li
                                  (click)="openProfileEditModal()"
                                  class="list-group-item"
                                >
                                  Edit Profile
                                </li>
                                <li
                                  routerLink="address"
                                  class="list-group-item"
                                >
                                  Address
                                </li>
                                <li
                                  class="list-group-item"
                                  (click)="openDeactivateModal()"
                                >
                                  Deactivate Account
                                </li>
                                <li
                                  class="list-group-item"
                                  (click)="openLanguageModal()"
                                >
                                  Language
                                </li>
                                <li
                                  routerLink="/vehiclelist"
                                  class="list-group-item"
                                >
                                  Vehicle List
                                </li>
                                <li (click)="logout()" class="list-group-item">
                                  Log Out
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-xl-6">
                        <div class="col-md-6">
                          <h2 class="heading">Ongoing Bookings</h2>
                        </div>
                        <div class=" profile_card_booklist">
                          <ng-container
                            *ngIf="
                              bookingList && bookingList.length > 0;
                              else noBookings
                            "
                          >
                          <mat-accordion style='height: 50vh; overflow: auto;' >
                            <mat-expansion-panel *ngFor="let book of bookingList; let i = index" [expanded]="isPanelOpen(i)" (opened)="panelOpened(i)" (closed)="panelClosed(i)"  style="margin-bottom: 10px;">
                              <mat-expansion-panel-header [collapsedHeight]="'15vh'" [expandedHeight]="'15vh'">
                                  <div class="row">
                                    <div style="display: flex; justify-content: center; align-items: cenetr;" class="col-4">
                                      <img src="./assets/icons/benz_icon.png" alt="" style="height: 10vh;">
                                    </div>
                                    <div style="display: flex; flex-direction: column; gap: 2px;" class="col-8">
                                      <span style="font-weight: bold; font-size: large;">{{ book.pkg_name }} ({{book.bk_number}})
                                      </span> 
                                      <span  style="color:#31bbac;">{{book.custstatus}}</span>
                                      <span style="font-weight: lighter;">{{book.cv_make}} {{book.cv_model}}</span>
                                    </div>
                                  </div>
                              </mat-expansion-panel-header>
                              <div  class="row mt-2">
                                <div style="display: flex; flex-direction: column; justify-content: center; gap: 0.5rem;" class="col-12">
                                <span style="font-size: 1.2rem; font-weight: bold;">{{book.cv_make}} {{book.cv_model}} {{book.cv_variant}} ({{book.cv_year}})</span>
                                <div><span style="font-size: 1.1rem;" class="me-2 vehicle-details"><i class="fa-solid fa-calendar"></i></span>  
                                <span style="font-weight: lighter;">{{ book.formattedDate }}</span> </div>
                                <div><span style="font-size: 1.1rem;" class="me-2" >
                                  <i class="fa-solid fa-clock"></i> </span>
                                  <span style="font-weight: lighter;">{{ book.formattedStartTime }} - {{ book.formattedEndTime }}</span></div>
                                </div>
                              </div>
                                  <hr>
                              <div class="row">
                                <div class="col-12">
                                  <span style="font-size: 1.2rem; font-weight: bold;">Current Work Status</span>
                                  <div>
                                    <div class="mt-2" style="justify-content: start; display: flex; align-items:center; gap: 5px;">
                                      <img *ngIf="book.st_code === 'BAPC'" src="./assets/images/work_in_icon.png" alt="no image found" srcset="" style="height: 5vh; ">
                                      <img *ngIf="book.st_code === 'BKCC'" src="./assets/images/booking_icon.png" alt="" srcset="" style="height: 5vh; ">
                                      <img *ngIf="book.st_code === 'DRPC'" src="./assets/images/driver_enroute_icon.png" alt="" srcset="" style="height: 5vh; ">
                                      <img *ngIf="book.st_code === 'PIPC'" src="./assets/images/pickup_icon_new.png" alt="" srcset="" style="height: 5vh;">
                                      <img *ngIf="book.st_code === 'VAWC'" src="./assets/images/vehicle_wrkshp_icon.png" alt="" srcset="" style="height: 5vh; ">
                                      <img *ngIf="book.st_code === 'WIPC'" src="./assets/images/work_in_icon.png" alt="" srcset="" style="height: 5vh; ">
                                      <img *ngIf="book.st_code === 'CDLC'" src="./assets/images/confirm_drop_icon.png" alt="" srcset="" style="height: 5vh; ">
                                      <img *ngIf="book.st_code === 'RFDC'" src="./assets/images/ready_delivery_icon.png" alt="" srcset="" style="height: 5vh; ">
                                      <img *ngIf="book.st_code === 'DEDC'" src="./assets/images/drop_enrouted.png" alt="" srcset="" style="height: 5vh;">
                                      <img *ngIf="book.st_code === 'DLCC'" src="./assets/images/delivery_icon.png" alt="" srcset="" style="height: 5vh; ">
                                      <img *ngIf="book.st_code === 'HOLDC'" src="./assets/images/hold_icon.png" alt="" srcset="" style="height: 5vh; ">
                                     
        
                                      <div>
                                        <p class="m-2">{{book.custstatus}}</p>
                                    </div>
                                  </div>
                                  <div class="mt-2">
                                    <button (click)="navigateToStatusFlow(book.bk_id)" class="viewdetails_btn">
                                      View Details
                                    </button>
                                  </div>
                                  </div>
                                </div>
                              </div>
                            </mat-expansion-panel>
                          </mat-accordion>
                            
                          </ng-container>
                          <ng-template #noBookings>
                            <p style="font-size: xx-large; font-weight: bold">
                              No Ongoing Bookings
                            </p>
                          </ng-template>
                        </div>
                      </div>
                    </div>
                    <br />
                    <div class="row">
                      <div class="col-xl-6">
                        <div class="row">
                          <div class="col-md-6">
                            <h2 class="heading">My Vehicles</h2>
                          </div>
                          <div class="col-md-6">
                            <h2 class="add_new">
                              Add New
                              <i
                                (click)="openaddModal()"
                                class="fa fa-plus-circle"
                              ></i>
                            </h2>
                          </div>
                        </div>
                        <div class="col-xl-12">
                          <div class="profile_card_vehlist ">
                            <ng-container
                              *ngIf="
                                vehicleList && vehicleList.length > 0;
                                else noVehicles
                              "
                            >
                              <div
                                *ngFor="let car of vehicleList"
                                class="row  my-3 vehicleList "
                                style="box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
                              border-radius: 10px;
                              "
                              >
                               <div style="display: flex; justify-content:center ; align-items: center;" class="p-4 col-xl-4">
                                <img src="./assets/icons/benz_icon.png" alt="" height="90vh">
                               </div> 

                               <div style="display: flex;  align-items: center;" class="col-xl-6 p-4">
                                <div>
                                  <div>
                                <span style="font-weight: bold; font-size: 1rem">{{ car.cv_plate_number }}</span><br>
                                  </div>
                                  
                                  <div class="">
                                    <span><i class="fa-solid fa-car"></i></span> <span class="ms-2" style="font-weight: 700; font-size: 0.9">{{car.cv_make}} {{car.cv_model}} 
                                    </span><br>
                                    <span><i class="fa-solid fa-wrench"></i></span> <span style="font-weight: 500;" class="ms-2" >{{car.cv_variant}} ({{car.cv_year}})</span>
                                  </div>
                                  
                                </div>
                               </div>

                               <div style="display: flex; align-items: center;" class="col-xl-2">
                                <div style="display:flex; align-items: center; justify-content: center; gap: 0.6rem;" >
                                  <div matTooltip="Click here to edit the vehicle" class="vehlist_btn" (click)="openeditModal(car.cv_id)"><i class="fa-solid fa-pen"></i></div>
                                  <div matTooltip="Click here to delete the vehicle" class="vehlist_btn"><i class="fa-solid fa-trash"></i></div>
                                </div>
                               </div>

                              </div>
                            </ng-container>
                            <ng-template #noVehicles>
                              <p style="font-size: xx-large; font-weight: bold">
                                No saved vehicles
                              </p>
                            </ng-template>
                            <br />
                          </div>
                        </div>
                      </div>
                      <div class="col-xl-6">
                        <div class="row">
                          <h2 class="heading">My Previous Bookings</h2>
                        </div>
                        <div class="col-xl-12">
                          <div class="profile_card_booklist text-center">
                            <ng-container
                              *ngIf="
                                bookingHistoryList &&
                                  bookingHistoryList.length > 0;
                                else noBookingsHistory
                              "
                            >
                              <div
                                class="row historylist"
                                [style.border]="
                                  bookhistory.st_code === 'CANC'
                                    ? '1px solid red'
                                    : '1px solid'
                                "
                                *ngFor="let bookhistory of bookingHistoryList"
                              >
                                <div class="col-xl-4">
                                  <div class="card_image_section">
                                    <img
                                      src="./assets/icons/benz_icon.png"
                                      alt=""
                                      srcset=""
                                      style="z-index: 1; border-radius: 12%"
                                    />
                                  </div>
                                </div>
                                <div class="col-xl-8 align-self-center">
                                  <div class="card_content">
                                    <p class="profile-details">
                                      <strong>{{
                                        bookhistory.cv_plate_number
                                      }}</strong>
                                    </p>
                                    <p class="profile-details">
                                      {{ bookhistory.cv_make }}
                                      {{ bookhistory.cv_model }}
                                      {{ bookhistory.cv_variant }}
                                      ({{ bookhistory.cv_year }})
                                    </p>
                                    <p class="profile-details">
                                      {{ bookhistory.pkg_name }} ({{
                                        bookhistory.bk_number
                                      }})
                                    </p>
                                    <p class="profile-details">
                                      <strong>Date: </strong
                                      >{{ bookhistory.formattedDate }}
                                    </p>
                                    <p class="profile-details">
                                      <strong>Time: </strong
                                      >{{ bookhistory.formattedStartTime }} -
                                      {{ bookhistory.formattedEndTime }}
                                    </p>
                                    <p
                                      class="profile-details"
                                      *ngIf="bookhistory.st_code === 'CANC'"
                                    >
                                      <strong>Reason: </strong
                                      >{{
                                        bookhistory.bkt_content
                                          .split(":")[1]
                                          .trim()
                                      }}
                                    </p>
                                  </div>
                                </div>
                              </div>
                            </ng-container>
                            <ng-template #noBookingsHistory>
                              <p style="font-size: xx-large; font-weight: bold">
                                No Previous Bookings
                              </p>
                            </ng-template>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- --------------------------------------------------------modals---------------------------------------------------------------- -->
  <!-- Edit Profile Modal -->
  <div class="modal" tabindex="-1" id="profileEditModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Edit Profile</h5>
          <button
            (click)="closeProfileEditModal()"
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div style="display: flex; flex-direction: column; gap: 10px">
            <label for="">Add Your Profile Picture</label>
            <input
              type="file"
              class="form-control"
              placeholder="Add your profile Picture"
              (change)="pictureFile($event)"
            />
            <input
              [(ngModel)]="custName"
              type="text"
              class="form-control"
              placeholder="Name"
              [value]="custName"
            />
            <input
              [(ngModel)]="custEmail"
              type="email"
              class="form-control"
              placeholder="E-mail"
              [value]="custEmail"
              #email="ngModel"
              pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"
            />
            <div
              class="text-danger"
              *ngIf="email.invalid && (email.touched || email.dirty)"
            >
              <span *ngIf="email.errors?.['pattern']"
                >*Enter an Invalid Email</span
              >
            </div>
            <input
              [(ngModel)]="custState"
              type="text"
              class="form-control"
              placeholder="State"
              [value]="custState"
            />
            <input
              [(ngModel)]="custNumber"
              type="number"
              class="form-control"
              placeholder="Number"
              [value]="custNumber"
              onkeypress="if(this.value.length==10) return false"
            />
            <input
              [(ngModel)]="custAltrenateNumber"
              type="number"
              class="form-control"
              placeholder="Alternate Number"
              [value]="custAltrenateNumber"
              onkeypress="if(this.value.length==10) return false"
            />
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            (click)="closeProfileEditModal()"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
          <button (click)="editProfile()" type="button" class="btn btn-primary">
            Save changes
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Vehicle Add Modal -->
  <div class="modal" tabindex="-1" id="addModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1
            class="modal-title"
            style="
              font-family: 'Montserrat-Semibold', sans-serif;
              font-size: 24px;
              text-align: center;
            "
          >
            Add Vehicle
          </h1>
          <button
            (click)="closeaddModal()"
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div style="display: flex; flex-direction: column; gap: 10px">
            <select
              (change)="setVehicleBrand($event)"
              class="form-select"
              aria-label="Default select example"
            >
              <option selected>Make</option>
              <option *ngFor="let i of vehicleBrand" [value]="i.veh_brand">
                {{ i.veh_brand }}
              </option>
            </select>
            <select
              (change)="setVehicleModel($event)"
              class="form-select"
              aria-label="Default select example"
            >
              <option selected>Model</option>
              <option *ngFor="let i of vehicle_models" [value]="i.veh_model">
                {{ i.veh_model }}
              </option>
            </select>
            <select
              (change)="setVehicleVarient($event)"
              class="form-select"
              aria-label="Default select example"
            >
              <option selected>Varient</option>
              <option
                *ngFor="let eachvariant of vehicle_variants"
                [value]="eachvariant.veh_variant"
              >
                {{ eachvariant.veh_variant }}
              </option>
            </select>
            <select
              (change)="setVehicleYear($event)"
              class="form-select"
              aria-label="Default select example"
            >
              <option selected>Year</option>
              <option *ngFor="let eachYear of vehicle_years" [value]="eachYear">
                {{ eachYear }}
              </option>
            </select>
            <input
              [(ngModel)]="vehicle_plate_number"
              class="form-control"
              type="text"
              placeholder="Plate Number"
              aria-label="Plate Number"
            />
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-danger"
            data-bs-dismiss="modal"
            (click)="closeaddModal()"
          >
            Close
          </button>
          <button type="button" (click)="createModel()" class="btn btn-warning">
            Save
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Deactivate Modal -->
  <div class="modal" tabindex="-1" id="deactivateModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Deactivate Account</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
            (click)="closeDeactivateModal()"
          ></button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to deactivate your Account?</p>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
            (click)="closeDeactivateModal()"
          >
            Close
          </button>
          <button type="button" class="btn btn-danger">
            Deactivate Account
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Language Modal -->
  <div class="modal" tabindex="-1" id="languageModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Select Language</h5>
          <button
            type="button"
            (click)="closeLanguageModal()"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="flexRadioDefault"
              id="flexRadioDefault1"
              checked
            />
            <label class="form-check-label" for="flexRadioDefault1">
              English
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="flexRadioDefault"
              id="flexRadioDefault2"
            />
            <label class="form-check-label" for="flexRadioDefault2">
              Arabic
            </label>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            (click)="closeLanguageModal()"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Close
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Vehicle Edit Modal -->
  <div class="modal" tabindex="-1" id="editModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title">Edit Vehicle</h1>
          <button (click)="closeeditModal()" type="button" class="btn-close" data-bs-dismiss="modal"
            aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div style="display: flex; flex-direction: column; gap: 10px;">
            <input class="form-control" disabled [(ngModel)]="selected_brand" [value]="selected_brand" type="text"
              placeholder="Brand" aria-label="Brand">
            <input class="form-control" disabled [(ngModel)]="selected_model" [value]="selected_model" type="text"
              placeholder="Model" aria-label="Model">
            <input class="form-control" disabled [(ngModel)]="selected_variant" [value]="selected_variant" type="text"
              placeholder="Variant" aria-label="Variant">
            <input class="form-control" disabled [(ngModel)]="selected_year" [value]="selected_year" type="text"
              placeholder="Year" aria-label="Year">
            <input class="form-control" [(ngModel)]="vehicle_plate_number" [value]="vehicle_plate_number" type="text"
              placeholder="Plate Number" aria-label="Plate Number">
          </div>
        </div>
        <div class="modal-footer">
          <button (click)="closeeditModal()" type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
          <button (click)="updateModal()" type="button" class="btn btn-warning">Update</button>
        </div>
      </div>
    </div>
  </div>
</div>
