<div class="banner_section">
  <div class="inner_banner_section"></div>
</div>
<div class="brands_section_area">
  <div class="inner_brands_section">
    <div class="container">
      <div class="row">
        <div class="col-xl-12 service-content">
          <div class="main_brands_area">
            <div class="inner_breand_logo">
              <h2 class="heading">Booking</h2>
              <div class="choose_car_box">
                <mat-accordion>
                  <mat-expansion-panel
                    [expanded]="panelOpenState1"
                    (opened)="panelOpenState1 = true"
                    (closed)="panelOpenState1 = false"
                  >
                    <mat-expansion-panel-header>
                      <mat-panel-title class="cardtitle" *ngIf="package_data">
                        {{ package_data.pkg_name }}
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="inner_choose_car_box">
                      <div class="choose_car_box_main">
                        <div class="row">
                          <div class="col-xl-3">
                            <div class="service_image_section">
                              <div
                                class="inner_service_image_section"
                                *ngIf="package_data"
                              >
                                <img
                                  src="{{
                                    base_url + package_data.pkg_imageurl
                                  }}"
                                  alt=""
                                  srcset=""
                                  style="z-index: 1"
                                />
                              </div>
                            </div>
                          </div>
                          <div class="col-xl-9">
                            <div class="vehicle_selection">
                              <div class="col-xl-12">
                                <div style="display: flex; justify-content: space-between;">
                                  <div><p class="package-heading" style="color: black">
                                    Choose Vehicle
                                  </p></div>
                                  <div *ngIf="tot_package_price"><span class="package-heading">Package Cost: </span>  <span style="font-size: 1.2rem; font-weight: bolder;" class="text-warning">{{tot_package_price}} AED</span> </div>  
                                </div>
                                

                                <!-- <select class="form-select" aria-label="Default select example"
                                  [(ngModel)]="customerVehicleId" (change)="onvehicleSelectionChange(customerVehicleId)"
                                  selected="customerVehicleId">
                                  <option [ngValue]="null" disabled selected>Choose Your Vehicle</option>
                                  <option *ngFor="let eachveh of customerVehicleList" value="{{eachveh.cv_id}}">
                                    {{eachveh.cv_make}} {{eachveh.cv_model}} {{eachveh.cv_variant}}
                                    ({{eachveh.cv_plate_number}})</option>
                                </select> -->
                                <ng-select
                                  class="mt-2"
                                  [(ngModel)]="customerVehicleId"
                                  (change)="
                                    onvehicleSelectionChange(customerVehicleId)
                                  "
                                  selected="customerVehicleId"
                                >
                                  <ng-option [value]="0"
                                    >Choose Your Vehicle</ng-option
                                  >
                                  <ng-option
                                    *ngFor="let eachveh of customerVehicleList"
                                    [value]="eachveh.cv_id"
                                    >{{ eachveh.cv_make }}
                                    {{ eachveh.cv_model }}
                                    {{ eachveh.cv_variant }} ({{
                                      eachveh.cv_plate_number
                                    }})</ng-option
                                  >
                                </ng-select>
                              </div>
                            </div>
                            <div
                              class="form_heading"
                              *ngIf="
                                !customerVehicleId && !bookingSectionDisplay
                              "
                            >
                              <div class="mb-2 col-12">
                                <p class="warning-heading" style="color: black">
                                  Please select a vehicle.
                                </p>
                              </div>
                            </div>
                            <div
                              class="form_heading"
                              *ngIf="
                                !customerVehicleId && bookingSectionDisplay
                              "
                            >
                              <div class="mb-2 col-12">
                                <p class="warning-heading" style="color: black">
                                  Please select a vehicle.
                                </p>
                              </div>
                            </div>
                            <div
                              class="form_heading"
                              *ngIf="
                                customerVehicleId && !bookingSectionDisplay
                              "
                            >
                              <div class="mb-2 col-12">
                                <p class="warning-heading" style="color: black">
                                  Please select another Vehicle Booking Already
                                  Exists
                                </p>
                              </div>
                            </div>
                            <div
                            class="form_heading"
                            *ngIf="
                              customerVehicleId && !serviceAvailable
                            "
                          >
                            <div class="mb-2 col-12">
                              <p class="warning-heading" style="color: black">
                                Sorry we can't service this Model Right Now
                              </p>
                            </div>
                          </div>
                            <div
                              class="form_heading"
                              *ngIf="customerVehicleId && bookingSectionDisplay && serviceAvailable "
                            >
                              <div class="mb-2 col-12">
                                <p class="package-heading" style="color: black">
                                  What's Included
                                </p>
                              </div>
                              <div
                                *ngIf="
                                  servicesFromBackend &&
                                  subpackage &&
                                  sparesFromBackend
                                "
                              >
                                <div
                                  *ngFor="let services of servicesFromBackend"
                                  class="col-12"
                                >
                                  <span style="color: #31bbac; font-size: 30px">
                                    ●
                                  </span>
                                  <span class="packagedetailslist">
                                    {{ services.ser_display_name }}
                                  </span>
                                </div>
                                <div
                                  *ngFor="let services of subpackage"
                                  class="col-12"
                                >
                                  <div *ngFor="let i of services.operations">
                                    <span
                                      style="color: #31bbac; font-size: 30px"
                                    >
                                      ●
                                    </span>
                                    <span class="packagedetailslist">
                                      {{ i.op_display_name }}
                                    </span>
                                  </div>
                                  <div *ngFor="let j of services.spares">
                                    <span
                                      style="color: #31bbac; font-size: 30px"
                                    >
                                      ●
                                    </span>
                                    <span class="packagedetailslist">
                                      {{ j.spc_displayname }}
                                    </span>
                                  </div>
                                </div>
                              </div>
                              <br />
                              <div
                                *ngIf="
                                  sparesFromBackend &&
                                  sparesFromBackend.length > 0
                                "
                              >
                                <div class="mb-2 col-12">
                                  <p
                                    class="package-heading"
                                    style="color: black"
                                  >
                                    Parts Not Included
                                  </p>
                                </div>
                                <div
                                  *ngFor="let spares of sparesFromBackend"
                                  class="col-12"
                                >
                                  <span style="color: #ee0000; font-size: 30px">
                                    ●
                                  </span>
                                  <span class="packagedetailslist">
                                    {{ spares.psn_displayname }}
                                  </span>
                                </div>
                              </div>
                              <br />
                              <div class="mb-2 col-12">
                                <p class="package-heading" style="color: black">
                                  Additional Queries
                                </p>
                              </div>
                              <div class="col-8">
                                <textarea
                                  style="font-family: 'Montserrat-Medium', sans-serif;
                                  width: 100vw; height: 10rem;
                                  resize: vertical;
                                  border-color: #8e8e8e;
                                  border-radius: 5px;
                                  background-color: #f0f0f0;
                                  font-size: 1.3rem;
                                  padding-top: 5%;
                                  padding-left: 5%;
                                  width: 100%;"
                                  maxlength="140"
                                  #description
                                  nbInput
                                  [(ngModel)]="comments"
                                  placeholder="Your message here..."
                                  name="operationdescription"
                                  class="major_service_textarea"
                                ></textarea>
                              </div>
                              <div class="audio-record-content" *ngIf="!url">
                                <div class="audio-record" *ngIf="!recording">
                                  <p
                                    class="audio-placeholder"
                                    style="color: green"
                                  >
                                    Click To Start Recording
                                  </p>
                                  <img
                                    src="./assets/images/mic_icon.png"
                                    (click)="startRecording()"
                                    class="mic-icon"
                                  />
                                </div>
                                <div class="audio-record" *ngIf="recording">
                                  <p
                                    class="audio-placeholder"
                                    style="color: red"
                                  >
                                    Click To Stop Recording
                                  </p>
                                  <img
                                    src="./assets/images/stop_icon.png"
                                    (click)="stopRecording()"
                                    class="mic-icon"
                                  />
                                </div>
                              </div>
                              <div class="audio-record-content" *ngIf="url">
                                <div class="row">
                                  <div class="col-xl-10 col-10">
                                    <audio
                                      class="audio-file"
                                      controls
                                      *ngIf="url"
                                    >
                                      <source [src]="url" type="audio/wav" />
                                    </audio>
                                  </div>
                                  <div
                                    class="col-xl-2 col-2"
                                    style="margin-top: 4%"
                                  >
                                    <img
                                      src="./assets/images/delete_icon.png"
                                      alt="Delete"
                                      class="delete-icon"
                                      (click)="deleteAudio()"
                                    />
                                  </div>
                                </div>
                              </div>
                              <div class="book_now_btn">
                                <button (click)="openPickupsection(0)">
                                  PROCEED
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </mat-expansion-panel>
                </mat-accordion>
                <br />
                <mat-accordion>
                  <mat-expansion-panel
                    [expanded]="panelOpenState2"
                    (opened)="panelOpenState2 = true"
                    (closed)="panelOpenState2 = false"
                    [disabled]="pickupandDropPanelDisplay"
                  >
                    <mat-expansion-panel-header>
                      <mat-panel-title class="cardtitle">
                        2. Pickup & Drop
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <br />
                    <div class="row">
                      <div class="col-xl-6">
                        <div class="row">
                          <label style="margin-top: 5px" class="address_label"
                            >Pickup Location*</label
                          >
                          <div class="col-11 mt-2">
                            <ng-select
                              [(ngModel)]="pickup_addressId"
                              (change)="onSelectionChange($event)"
                              selected="pickup_addressId"
                            >
                              <ng-option [value]="0"
                                >Select Pickup Address</ng-option
                              >
                              <ng-option
                                *ngFor="let eachaddress of pickup_address"
                                [value]="eachaddress.cad_id"
                                >{{ eachaddress.cad_address }}</ng-option
                              >
                            </ng-select>
                          </div>
                          <div
                            style="
                              display: flex;
                              justify-content: center;
                              align-items: center;
                            "
                            class="col-1 mt-2"
                          >
                            <div matTooltip="Add Pickup Location"
                            aria-label="Button that displays a tooltip when focused or hovered over"
                            (click)="openAddressModal()"><i
                              class="fa fa-plus"
                            ></i></div>
                          </div>
                        </div>
                      </div>
                      <div class="col-xl-6">
                        <div class="row">
                          <label style="margin-top: 5px" class="address_label"
                            >Drop Location*</label
                          >
                          <div class="col-11 mt-2">
                            <ng-select
                              [(ngModel)]="drop_addressId"
                              (change)="onSelectionChange($event)"
                              selected="drop_addressId"
                              [disabled]="isChecked"
                            >
                              <ng-option [value]="0"
                                >Select Drop Address</ng-option
                              >
                              <ng-option
                                *ngFor="let eachaddress of drop_address"
                                [value]="eachaddress.cad_id"
                                >{{ eachaddress.cad_address }}</ng-option
                              >
                            </ng-select>
                          </div>
                          <div
                            style="
                              display: flex;
                              justify-content: center;
                              align-items: center;
                            "
                            class="col-1 mt-2"
                          >
                            <i
                              matTooltip="Add drop Location"
                              aria-label="Button that displays a tooltip when focused or hovered over"
                              class="fa fa-plus"
                              (click)="openAddressModal()"
                              *ngIf="!isChecked"
                            ></i>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-check">
                      <input
                        mdbCheckbox
                        class="form-check-input"
                        [(ngModel)]="isChecked"
                        type="checkbox"
                        value=""
                        id="flexCheckChecked"
                        [checked]="true"
                        [ngStyle]="{
                          'background-color': '#3186ac',
                          'border-color': '#3186ac'
                        }"
                        (click)="addressChange()"
                      />
                      <label class="address_label" for="flexCheckChecked">
                        Drop location same as pickup location
                      </label>
                    </div>

                    <div
                      *ngIf="pickup_addressId && drop_addressId"
                      class="pickuptype_label mb-4 mt-4"
                    >
                      Pickup options
                    </div>

                    <div *ngIf="pickup_addressId && drop_addressId">
                      <div
                        class="row label"
                        *ngFor="let eachpickup of pickup_options; let p = index"
                      >
                        <div class="col-4">
                          <div class="pickup_options">
                            <input
                              type="radio"
                              [value]="eachpickup.pk_id"
                              name="pickuptype_{{ p }}"
                              (click)="PickupOptionSelection(eachpickup)"
                              [(ngModel)]="selectedPickupOption"
                            />
                            {{ eachpickup.pk_name }}
                          </div>
                        </div>
                        <div class="col-8">
                          <p
                            class="pickup_options"
                            *ngIf="!eachpickup.cost"
                            style="color: #26c20e"
                          >
                            FREE
                          </p>
                          <p
                            class="pickup_options"
                            *ngIf="eachpickup.cost && eachpickup.cost != 0"
                            style="color: #f7941e"
                          >
                            AED {{ eachpickup.cost }}
                          </p>
                        </div>
                      </div>
                    </div>

                    <br />
                    <div class="row">
                      <div class="col-xl-6">
                        <div class="pickuptype_label">Select Booking Date*</div>
                        <div class="mt-1" style="display: flex; align-items: center; justify-content: center;">
                          <input
                            class="form-control"
                            matInput
                            [matDatepicker]="picker"
                            (dateChange)="ondateSelection()"
                            placeholder="Choose a booking date"
                            name="bookingDate"
                            [min]="minSelectableDate"
                            [max]="maxSelectableDate"
                            [(ngModel)]="bookingDate"
                            #bookingDateRef="ngModel"
                            required
                          />

                          <mat-datepicker-toggle
                            matSuffix
                            [for]="picker"
                          ></mat-datepicker-toggle>
                          <mat-datepicker #picker></mat-datepicker>
                        </div>
                        <!-- Display validation error message -->
                        <mat-error
                          *ngIf="
                            !bookingDateRef.valid &&
                            (bookingDateRef.dirty || bookingDateRef.touched)
                          "
                        >
                          <!-- <span *ngIf="bookingDateRef.errors?.['required']"
                            >Booking date is required</span
                          > -->
                          <span
                            *ngIf="bookingDateRef.errors?.['matDatepickerParse']"
                            >Invalid date format</span
                          >
                          <span *ngIf="bookingDateRef.errors?.['specialCharacters']">Inavlid date Format</span>
                        </mat-error>
                      </div>
                      <div class="col-xl-6">
                        <div class="pickuptype_label mb-2">
                          Booking Time Slot*
                        </div>
                        <div>
                          <ng-select
                            [(ngModel)]="booking_slot"
                            (change)="onSelectionChange($event)"
                            selected="booking_slot"
                          >
                            <ng-option [value]="0">Select Time slot</ng-option>
                            <ng-option
                              *ngFor="let eachslot of timeslots"
                              [value]="eachslot.tm_id"
                              [disabled]="eachslot.isTimeSlotFilled"
                            >
                              <div
                                style="
                                  display: flex;
                                  justify-content: space-between;
                                  align-items: center;
                                "
                              >
                                <span
                                  >{{ eachslot.tm_start_time }} -
                                  {{ eachslot.tm_end_time }}</span
                                >
                                <span
                                  *ngIf="eachslot.isTimeSlotFilled"
                                  class="badge"
                                  >Slot Full</span
                                >
                              </div>
                            </ng-option>
                          </ng-select>
                        </div>
                      </div>
                    </div>
                    <br />
                    <div class="row">
                      <label class="warning_label">
                        Drop location and type can be changed during drop
                        schedule after work completion
                      </label>
                    </div>
                    <br />
                    <div class="proceed_to_pay_btn">
                      <button (click)="openPickupsection(1)">PROCEED</button>
                    </div>
                  </mat-expansion-panel>
                </mat-accordion>
                <br />
                <mat-accordion>
                  <mat-expansion-panel
                    [expanded]="panelOpenState3"
                    (opened)="panelOpenState3 = true"
                    (closed)="panelOpenState3 = false"
                    [disabled]="PaymentPanelDisplay"
                  >
                    <mat-expansion-panel-header>
                      <mat-panel-title class="cardtitle">
                        3. Payment method
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div class="row mt-3">
                      <div class="col-xl-6">
                        <div class="row">
                          <!-- <div class="col-12"><span class="address_label">Booking Details</span></div> -->
                          <div class="row">
                            <div
                              style="
                                display: flex;
                                justify-content: center;
                                align-items: cenetr;
                              "
                              class="col-4"
                            >
                              <img
                                src="./assets/icons/benz_icon.png"
                                alt=""
                                style="height: 13vh"
                              />
                            </div>

                            <div
                              *ngIf="VehDataForSummary"
                              style="
                                display: flex;
                                flex-direction: column;
                                gap: 2px;
                              "
                              class="col-8"
                            >
                              <span style="font-size: 1rem">{{
                                VehDataForSummary[0].cv_plate_number
                              }}</span>
                              <span style="font-weight: lighter"
                                >{{ VehDataForSummary[0].cv_make }}
                                {{ VehDataForSummary[0].cv_model }}
                                </span
                              >
                              <span style="font-weight: lighter"
                                >
                                {{ VehDataForSummary[0].cv_varient }}
                                {{ VehDataForSummary[0].cv_year }}
                              </span>
                              <span>
                                {{ package_data.pkg_name }}
                              </span>
                              <span style="color: green">Random Recovery</span>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-xl-6">
                        <div class="row">
                          <div
                            *ngIf="timeForSummary && formattedDateForSummary"
                            class="col-12"
                          >
                            <div>
                              <span
                                style="margin-right: 0px !important"
                                class="address_label"
                                >Selected Time and Date</span
                              ><br />
                              <span style="margin-left: 0.2rem;"
                                ><i class="ms-4 fa-solid fa-clock"> </i>
                                {{ timeForSummary[0].tm_start_time }} -
                                {{ timeForSummary[0].tm_end_time }}</span
                              >
                              <br />
                              <span style="margin-left: 0.2rem;"
                                ><i
                                  class="ms-4 fa-regular fa-calendar-days"
                                ></i>
                                {{ formattedDateForSummary }}</span
                              >
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <hr />
                    <div class="row">
                      <div *ngIf="pickupAddressForSummary" class="col-6">
                        <label class="address_label">
                          Pickup Address*
                          <textarea
                            [value]="pickupAddressForSummary[0].cad_address"
                            disabled
                            style="width: 35vw"
                            class="form-control mt-1"
                          ></textarea>
                        </label>
                      </div>

                      <div *ngIf="dropAddressForSummary" class="col-6">
                        <label class="address_label">
                          Drop Address*
                          <textarea
                            [value]="dropAddressForSummary[0].cad_address"
                            disabled
                            style="width: 35vw"
                            class="form-control mt-1"
                          ></textarea>
                        </label>
                      </div>
                    </div>

                    <hr />

                    <div class="row">
                      <div class="col-6">
                        <span class="address_label mb-1">Audio*</span>
                        <div class="audio-record-content" *ngIf="url">
                          <div class="row">
                            <div class="col-xl-12 col-12">
                              <audio class="audio-file" controls *ngIf="url">
                                <source [src]="url" type="audio/wav" />
                              </audio>
                            </div>
                            <!-- <div class="col-xl-2 col-2" style="margin-top: 4%;">
                            <img src="./assets/images/delete_icon.png" alt="Delete" class="delete-icon" (click)="deleteAudio()" />
                          </div> -->
                          </div>
                        </div>
                        <div style="display: flex; align-items: center;" *ngIf="!url">
                          <h4>No Audio Provided</h4>
                        </div>
                      </div>

                      <div *ngIf="comments" class="col-6">
                        <span class="address_label">Comments*</span>
                        <textarea
                          disabled
                          [value]="comments"
                          disabled
                          style="width: 35vw"
                          class="form-control mt-1"
                        ></textarea>
                      </div>

                      <div style="display: flex; align-items: center;" *ngIf="!comments" class="col-6">
                        <h4>No Comments</h4>
                      </div>
                    </div>

                    <div
                      *ngIf="
                        allCoupons && !appliedCoupon && allCoupons.length > 0
                      "
                      class="row"
                    >
                      <div class="col-xl-4">
                        <div class="card">
                          <div class="card-body">
                            <div>
                              <div
                                style="display: flex; justify-content: center"
                              >
                                <div
                                  style="display: flex; justify-content: center"
                                >
                                  <img
                                    style="height: 100px; width: 100px"
                                    src="https://png.pngtree.com/png-vector/20221024/ourmid/pngtree-ticket-template-mega-sale-advertising-discount-coupon-png-image_6385825.png"
                                    alt=""
                                  />
                                </div>
                                <div
                                  style="
                                    display: flex;
                                    flex-direction: column;
                                    align-items: center;
                                    justify-content: center;
                                  "
                                >
                                  <span style="font-weight: bold">{{
                                    allCoupons[0].coupon_description
                                  }}</span>
                                  <span style="font-weight: 100"
                                    >code: {{ allCoupons[0].coupon_code }}</span
                                  >
                                </div>
                                <div
                                  style="
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                  "
                                  class="ms-5"
                                >
                                  <span
                                    *ngIf="!isCouponApplied"
                                    (click)="applyCoupon(allCoupons[0])"
                                    style="font-weight: 300; color: #f7941e"
                                    >Apply</span
                                  >
                                  <span
                                    *ngIf="isCouponApplied"
                                    (click)="applyCoupon(allCoupons[0])"
                                    style="font-weight: 300; color: #f71e1e"
                                    >Remove</span
                                  >
                                </div>
                              </div>
                              <div>
                                <ul class="list-group list-group-flush">
                                  <li class="list-group-item">
                                    <div
                                      (click)="openCopounModal()"
                                      style="
                                        display: flex;
                                        justify-content: space-between;
                                      "
                                    >
                                      <div
                                        style="
                                          display: flex;
                                          justify-content: center;
                                          align-items: center;
                                        "
                                      >
                                        See More Copouns
                                      </div>

                                      <div
                                        style="
                                          display: flex;
                                          justify-content: center;
                                          align-items: center;
                                        "
                                      >
                                        <i class="fa-solid fa-arrow-right"></i>
                                      </div>
                                    </div>
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div *ngIf="appliedCoupon" class="row">
                      <div class="col-xl-4">
                        <div class="card">
                          <div class="card-body">
                            <div>
                              <div
                                style="display: flex; justify-content: center"
                              >
                                <div
                                  style="display: flex; justify-content: center"
                                >
                                  <img
                                    style="height: 100px; width: 100px"
                                    src="https://png.pngtree.com/png-vector/20221024/ourmid/pngtree-ticket-template-mega-sale-advertising-discount-coupon-png-image_6385825.png"
                                    alt=""
                                  />
                                </div>
                                <div
                                  style="
                                    display: flex;
                                    flex-direction: column;
                                    align-items: center;
                                    justify-content: center;
                                  "
                                >
                                  <span style="font-weight: bold">{{
                                    allCoupons[0].coupon_description
                                  }}</span>
                                  <span style="font-weight: 100"
                                    >code: {{ allCoupons[0].coupon_code }}</span
                                  >
                                </div>
                                <div
                                  style="
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                  "
                                  class="ms-5"
                                >
                                  <span
                                    *ngIf="!isCouponApplied"
                                    (click)="applyCoupon(allCoupons[0])"
                                    style="font-weight: 300; color: #f7941e"
                                    >Apply</span
                                  >
                                  <span
                                    *ngIf="isCouponApplied"
                                    (click)="applyCoupon(allCoupons[0])"
                                    style="font-weight: 300; color: #f71e1e"
                                    >Remove</span
                                  >
                                </div>
                              </div>
                              <div>
                                <ul class="list-group list-group-flush">
                                  <li class="list-group-item">
                                    <div
                                      (click)="openCopounModal()"
                                      style="
                                        display: flex;
                                        justify-content: space-between;
                                      "
                                    >
                                      <div
                                        style="
                                          display: flex;
                                          justify-content: center;
                                          align-items: center;
                                        "
                                      >
                                        See More Copouns
                                      </div>

                                      <div
                                        style="
                                          display: flex;
                                          justify-content: center;
                                          align-items: center;
                                        "
                                      >
                                        <i class="fa-solid fa-arrow-right"></i>
                                      </div>
                                    </div>
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <hr />
                    <div class="row">
                      <p *ngIf="pickup_cost" class="packagedetailslist">
                        Booking Summary
                      </p>
                    </div>
                    <br />
                    <div class="row label">
                      <div class="col-6" *ngIf="pickup_cost">
                        <label class="packagedetailslist">
                          {{ package_data.pkg_name }}
                        </label>
                      </div>
                      <div *ngIf="pickup_cost" class="col-6">
                        <label class="packagedetailslist">
                          AED {{ tot_package_price }}
                        </label>
                      </div>
                    </div>
                    <div class="row label">
                      <div class="col-6">
                        <label class="packagedetailslist">
                          {{ pickup_name }}
                        </label>
                      </div>
                      <div *ngIf="pickup_cost" class="col-6">
                        <label
                          class="packagedetailslist"
                          style="color: #26c20e"
                          *ngIf="this.pickup_cost == 0"
                        >
                          FREE
                        </label>
                        <label
                          class="packagedetailslist"
                          *ngIf="this.pickup_cost != 0"
                        >
                          AED {{ this.pickup_cost }}
                        </label>
                      </div>
                    </div>
                    <div *ngIf="pickup_cost" class="row label">
                      <div class="col-6">
                        <label class="packagedetailslist"> Grand Total </label>
                      </div>
                      <div class="col-6">
                        <label class="packagedetailslist">
                          <strong *ngIf="!isCouponApplied"
                            >AED
                            {{
                              tot_package_price + this.pickup_cost
                                | number : "1.2-2"
                            }}</strong
                          >
                          <strong *ngIf="isCouponApplied"
                            >AED
                            {{
                              totPriceAfterApplyingCoupon | number : "1.2-2"
                            }}</strong
                          >
                        </label>
                      </div>
                    </div>
                    <br />
                    <div class="row">
                      <span class="packagedetailslist" style="color: #31bbac"
                        >Read more about fees</span
                      >
                    </div>
                    <br />
                    <div class="row">
                      <span class="packagedetailslist">Disclaimer</span>
                    </div>
                    <div class="row">
                      <span class="packagedetailslist"
                        >Delivered by us, with live tracking</span
                      >
                    </div>
                    <br />
                    <div class="pay_btn">
                      <button [disabled]="paybuttondisable" (click)="createBooking()">PAY</button>
                    </div>
                  </mat-expansion-panel>
                </mat-accordion>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- --------------------------------------------------Modal-------------------------------------------- -->
    <!-- Adress Modal -->
    <div class="modal" tabindex="-1" id="addressModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Add Address</h5>
            <button
              type="button"
              (click)="closeAddressModal()"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <div style="display: flex; justify-content: center">
              <div
                style="
                  display: flex;
                  justify-content: center;
                  flex-direction: column;
                  gap: 10px;
                "
              >
                <input
                  #inputField
                  type="text"
                  class="form-control"
                  [placeholder]="placeholder"
                />
                <div>
                  <google-map
                    height="400px"
                    width="400px"
                    [zoom]="15"
                    (mapClick)="clickEvent($event)"
                    [center]="position"
                  >
                    <map-marker [position]="position"></map-marker>
                  </google-map>
                </div>
                <div style="display: flex; gap: 2px">
                  <input
                    type="text"
                    [value]="placeDetails.city"
                    class="form-control"
                    placeholder="city"
                    disabled
                    [(ngModel)]="placeDetails.city"
                  />
                  <input
                    type="text"
                    [value]="placeDetails.area"
                    class="form-control"
                    placeholder="area"
                    disabled
                    [(ngModel)]="placeDetails.area"
                  />
                </div>
                <div>
                  <textarea
                    name=""
                    id=""
                    [(ngModel)]="custAddressData"
                    style="width: 100%"
                    class="form-control"
                    [value]=""
                    placeholder="Address"
                  ></textarea>
                </div>
                <div>
                  <textarea
                    name=""
                    id=""
                    style="width: 100%"
                    class="form-control"
                    [(ngModel)]="address"
                    placeholder="Building/Flat No"
                  ></textarea>
                </div>
                <div>
                  <span>Address Type</span>
                  <div class="d-flex gap-2">
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        (change)="onRadioChange($event)"
                        value="home"
                        type="radio"
                        name="flexRadioDefault"
                        id="flexRadioDefault1"
                      />
                      <label class="form-check-label" for="flexRadioDefault1">
                        Home
                      </label>
                    </div>
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        (change)="onRadioChange($event)"
                        value="work"
                        type="radio"
                        name="flexRadioDefault"
                        id="flexRadioDefault2"
                      />
                      <label class="form-check-label" for="flexRadioDefault2">
                        Work
                      </label>
                    </div>
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        (change)="onRadioChange($event)"
                        value="other"
                        type="radio"
                        name="flexRadioDefault"
                        id="flexRadioDefault2"
                      />
                      <label class="form-check-label" for="flexRadioDefault2">
                        Other
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              (click)="closeAddressModal()"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button
              type="button"
              (click)="addAddress()"
              class="btn btn-primary"
            >
              Save changes
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Coupoun Modal -->
    <div class="modal" tabindex="-1" id="copounModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Copouns</h5>
            <button
              (click)="closeCopounModalModal()"
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <div *ngFor="let coupon of allCoupons" class="m-2 row">
              <div class="col-12">
                <div class="card">
                  <div style="display: flex; justify-content: center">
                    <div style="display: flex; justify-content: center">
                      <img
                        style="height: 100px; width: 100px"
                        src="https://png.pngtree.com/png-vector/20221024/ourmid/pngtree-ticket-template-mega-sale-advertising-discount-coupon-png-image_6385825.png"
                        alt=""
                      />
                    </div>
                    <div
                      style="
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                      "
                    >
                      <span style="font-weight: bold">{{
                        coupon.coupon_description
                      }}</span>
                      <span style="font-weight: 100"
                        >code: {{ coupon.coupon_code }}</span
                      >
                    </div>
                    <div
                      style="
                        display: flex;
                        justify-content: center;
                        align-items: center;
                      "
                      class="ms-5"
                    >
                      <span
                        *ngIf="!isCouponApplied"
                        (click)="applyCoupon(allCoupons[0])"
                        style="font-weight: 300; color: #f7941e"
                        >Apply</span
                      >
                      <span
                        *ngIf="isCouponApplied"
                        (click)="applyCoupon(allCoupons[0])"
                        style="font-weight: 300; color: #f71e1e"
                        >Remove</span
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button
              (click)="closeCopounModalModal()"
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal" tabindex="-1" id="couponAppliedModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title"></h5>
            <button
              (click)="closeMessageModal()"
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <div
              style="
                display: flex;
                justify-content: center;
                align-items: center;
              "
            >
              <img
                style="height: 100px"
                src="https://cdn.icon-icons.com/icons2/2346/PNG/512/checkmark_check_apply_done_accept_icon_142904.png"
                alt=""
              />
            </div>

            <div *ngIf="appliedCoupon" class="text-center text-success mt-4">
              Applied {{ appliedCoupon.coupon_code }}
            </div>
          </div>
          <div class="modal-footer">
            <button
              (click)="closeMessageModal()"
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal" tabindex="-1" id="termsModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Hold On. Please read before proceeding</h5>
            <button
              (click)="closetermsModal()"
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <p><strong>●</strong> Registration card should not be expired</p>
            <p>
              <strong>●</strong> Be careful not to keep anything illicit inside
              the car
            </p>
          </div>
          <div class="modal-footer">
            <button
              (click)="closetermsModal()"
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
