<div class="banner_section">
  <div class="inner_banner_section"></div>
</div>
<div class="brands_section_area">
  <div class="inner_brands_section">
    <div class="container">
      <div class="row">
        <div class="col-xl-12 booking-status-content">
          <div class="main_brands_area">
            <div class="inner_breand_logo">
              <h2 class="heading">Booking</h2>
              <div class="choose_car_box">
                <div class="inner_choose_car_box">
                  <div class="choose_car_box_main">
                    <div class="row">
                      <div class="col-xl-6">
                        <div class="row">
                          <h2 class="bodyheading">My Active booking</h2>
                        </div>
                        <!-- <div  class="row card_section p-2 mb-3" *ngFor="let eachbookingData of activeBookings"
                          [ngStyle]="{ 'background-color': eachbookingData.bgColor }" (click)="changeBackgroundColor(1,eachbookingData.bk_id)"
                          style="box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
                          cursor: pointer;
                          
                          "
                          >
                          <div style="display: flex; align-items: center;" class="col-md-4" >
                            <img src="./assets/icons/benz_icon.png" alt="">
                          </div>
                          <div class="col-md-8">
                            <p style="font-weight: bolder;" class="vehicle-details">
                              {{ eachbookingData.cv_plate_number }}
                            </p>
                            <p style="font-size: 19px; font-weight:bold" class="vehicle-details">
                              {{ eachbookingData.cv_make }}
                              {{ eachbookingData.cv_model }}
                              {{ eachbookingData.cv_variant }}
                            </p>
                            <p style="font-size:17px ; font-weight: bold;" class="vehicle-details">
                              {{ eachbookingData.pkg_name }}({{
                              eachbookingData.bk_number
                              }})
                            </p>

                            <div class="mt-3">
                            <span style="font-size: 16px;" class="me-2 vehicle-details"><i class="fa-solid fa-calendar"></i></span>  
                            <span style="font-size: 16px; font-weight: 500; " class="vehicle-details">
                              {{
                              eachbookingData.bk_booking_date
                              | date : "dd-MM-yyyy"
                              }}
                            </span><br>
                            <span style="font-size: 16px;" class="me-2" >
                              <i class="fa-solid fa-clock"></i>
                            </span>
                            <span style="font-size: 16px; font-weight: 500;" class="vehicle-details">
                              {{ formatTime(eachbookingData.tm_start_time) }} -
                              {{ formatTime(eachbookingData.tm_end_time) }}
                            </span>
                            <div>
                              <div class="mt-2" style="justify-content: start; display: flex; align-items:center; gap: 5px;">
                                <img *ngIf="eachbookingData.st_code === 'BKCC'" src="./assets/images/booking_icon.png" alt="" srcset="" style="height: 50px; width: 50px;">
                                <img *ngIf="eachbookingData.st_code === 'DRPC'" src="./assets/images/driver_enroute_icon.png" alt="" srcset="" style="height: 50px; width: 50px;">
                                <img *ngIf="eachbookingData.st_code === 'PIPC'" src="./assets/images/pickup_icon_new.png" alt="" srcset="" style="height: 50px; width: 50px;">
                                <img *ngIf="eachbookingData.st_code === 'VAWC'" src="./assets/images/vehicle_wrkshp_icon.png" alt="" srcset="" style="height: 60px; width: 50px;">
                                <img *ngIf="eachbookingData.st_code === 'WIPC'" src="./assets/images/work_in_icon.png" alt="" srcset="" style="height: 50px; width: 50px;">
                                <img *ngIf="eachbookingData.st_code === 'CDLC'" src="./assets/images/confirm_drop_icon.png" alt="" srcset="" style="height: 50px; width: 50px;">
                                <img *ngIf="eachbookingData.st_code === 'RFDC'" src="./assets/images/ready_delivery_icon.png" alt="" srcset="" style="height: 50px; width: 50px;">
                                <img *ngIf="eachbookingData.st_code === 'DEDC'" src="./assets/images/drop_enrouted.png" alt="" srcset="" style="height: 50px; width: 50px;">
                                <img *ngIf="eachbookingData.st_code === 'DLCC'" src="./assets/images/delivery_icon.png" alt="" srcset="" style="height: 50px; width: 50px;">
                                <img *ngIf="eachbookingData.st_code === 'HOLDC'" src="./assets/images/hold_icon.png" alt="" srcset="" style="height: 50px; width: 50px;">
  
                                <div>
                                  <p class="m-2 profile-details"><strong>{{eachbookingData.custstatus}}</strong></p>
                              </div>
                            </div>
                            </div>
                          </div>
                          
                          </div>
                          <div class="row" style=" padding: 2%; margin-left: 0%; ">
                            <div class="col-xl-4" style="padding: 0% !important;">
                              <div class="outlinebutton">
                                <button (click)="openaddModal()">Cancel</button>
                              </div>
                            </div>
                            <div class="col-xl-4" style="padding-left: 1% !important;padding-right: 0% !important;">
                              <div class="outlinebutton">
                                <button (click)="openholdModal();">Hold</button>
                              </div>
                            </div>
                            <div class="col-xl-4" style="padding-left: 1% !important;padding-right: 0% !important;">
                              <div class="outlinebutton">
                                <button (click)="navigate()">Reschedule</button>
                              </div>
                            </div>
                          </div>
                        </div> -->
                        <mat-accordion>
                          <mat-expansion-panel  [ngStyle]="{ 'background-color': book.bgColor }"  *ngFor="let book of activeBookings let i = index" [expanded]="isPanelOpen(i)" (opened)="panelOpened(i)" (closed)="panelClosed(i)"  style="margin-bottom: 10px;">
                            <mat-expansion-panel-header  [collapsedHeight]="'15vh'" [expandedHeight]="'15vh'">
                                <div class="row">
                                  <div style="display: flex; justify-content: center; align-items: cenetr;" class="col-4">
                                    <img src="./assets/icons/benz_icon.png" alt="" style="height: 10vh;">
                                  </div>
                                  <div style="display: flex; flex-direction: column; gap: 2px;" class="col-8">
                                    <span style="font-weight: bold; font-size: large;">{{ book.pkg_name }} ({{book.bk_number}})
                                    </span> 
                                    <span  style="color:#31bbac;">{{book.custstatus}}</span>
                                    <span style="font-weight: lighter;">{{book.cv_make}} {{book.cv_model}}</span>
                                  </div>
                                </div>
                            </mat-expansion-panel-header>
                            <div  class="row mt-2">
                              <div style="display: flex; flex-direction: column; justify-content: center; gap: 0.5rem;" class="col-12">
                              <span style="font-size: 1.2rem; font-weight: bold;">{{book.cv_make}} {{book.cv_model}} {{book.cv_variant}} ({{book.cv_year}})</span>
                              <div><span style="font-size: 1.1rem;" class="me-2 vehicle-details"><i class="fa-solid fa-calendar"></i></span>  
                              <span style="font-weight: lighter;">{{
                                book.bk_booking_date
                                | date : "dd-MM-yyyy"
                                }}</span> </div>
                              <div><span style="font-size: 1.1rem;" class="me-2" >
                                <i class="fa-solid fa-clock"></i> </span>
                                <span style="font-weight: lighter;">{{ formatTime(book.tm_start_time) }} -
                                  {{ formatTime(book.tm_end_time) }}</span></div>
                                  <div><span style="font-size: 1.1rem;" class="me-2" >
                                    <i class="fa-solid fa-car"></i> </span>
                                    <span style="font-weight: lighter;">{{book.cv_plate_number}}</span></div>
                              </div>
                            </div>
                            <div class="mt-2" style="display: flex; gap: 1vw;">
                              <div>
                                <button *ngIf="book.st_code !== 'HOLDC' && book.st_code == 'BKCC' || book.st_code !== 'HOLDC' && book.st_code == 'CDLC'" class="viewdetails_btn" (click)="openholdModal();">Hold</button>
                                <button *ngIf="book.st_code === 'HOLDC'" (click)="unholdBooking(book)" class="viewdetails_btn" >Unhold</button>
                              </div>
                              <div>
                                <button class="viewdetails_btn" *ngIf="book.st_code == 'BKCC'" (click)="openaddModal()" >Cancel</button>
                              </div>
                                <div>
                                  <button *ngIf="book.st_code == 'BKCC' || book.st_code == 'CDLC'" class="viewdetails_btn" (click)="navigate()">Reschedule</button> 
                                </div>
                                    
                              <div>

                              </div>
                            </div>
                                <hr>
                            <div class="row">
                              <div class="col-12">
                                <span style="font-size: 1.2rem; font-weight: bold;">Current Work Status</span>
                                <div>
                                  <div class="mt-2" style="justify-content: start; display: flex; align-items:center; gap: 5px;">
                                    <img *ngIf="book.st_code === 'BAPC'" src="./assets/images/awaiting_payment.png" alt="no image found" srcset="" style="height: 5vh; ">
                                    <img *ngIf="book.st_code === 'BKCC'" src="./assets/images/booking_icon.png" alt="" srcset="" style="height: 5vh; ">
                                    <img *ngIf="book.st_code === 'DRPC'" src="./assets/images/driver_enroute_icon.png" alt="" srcset="" style="height: 5vh; ">
                                    <img *ngIf="book.st_code === 'PIPC'" src="./assets/images/pickup_icon_new.png" alt="" srcset="" style="height: 5vh;">
                                    <img *ngIf="book.st_code === 'VAWC'" src="./assets/images/vehicle_wrkshp_icon.png" alt="" srcset="" style="height: 5vh; ">
                                    <img *ngIf="book.st_code === 'WIPC'" src="./assets/images/work_in_icon.png" alt="" srcset="" style="height: 5vh; ">
                                    <img *ngIf="book.st_code === 'CDLC'" src="./assets/images/confirm_drop_icon.png" alt="" srcset="" style="height: 5vh; ">
                                    <img *ngIf="book.st_code === 'RFDC'" src="./assets/images/ready_delivery_icon.png" alt="" srcset="" style="height: 5vh; ">
                                    <img *ngIf="book.st_code === 'DEDC'" src="./assets/images/drop_enrouted.png" alt="" srcset="" style="height: 5vh;">
                                    <img *ngIf="book.st_code === 'DLCC'" src="./assets/images/delivery_icon.png" alt="" srcset="" style="height: 5vh; ">
                                    <img *ngIf="book.st_code === 'HOLDC'" src="./assets/images/hold_icon.png" alt="" srcset="" style="height: 5vh; ">
                                    <img *ngIf="book.st_code === 'PIWC'" src="./assets/images/pickup_enroute_icon.png" alt="" srcset="" style="height: 5vh; ">
                                    <div>
                                      <p class="m-2">{{book.custstatus}}</p>
                                  </div>
                                </div>
                                <div class="mt-2" >
                                  <button (click)="navigateToStatusFlow(book.bk_id)" class="viewdetails_btn">
                                    View Details
                                  </button>
                                </div>
                                </div>
                              </div>
                            </div>
                          </mat-expansion-panel>
                        </mat-accordion>

                      </div>
                      <br />
                      <div class="col-xl-6" *ngIf="workcard_showFlag == 0">
                        <div class="row">
                          <h2 class="bodyheading">Booking Status</h2>
                        </div>
                        <div class="row" *ngFor="let eachdata of statusFlow" style=" margin-bottom: 2%; " >
                          <div  class="col-md-4 d-flex justify-content-center align-items-center">
                            <div class="status_image_section">
                              <img src="{{ eachdata?.icon }}" style="width: 74px; height: 74px" />
                            </div>
                          </div>
                          <div class="col-md-6">
                            <p class="status-details">{{ eachdata?.status }}</p>
                            <p class="sub-status-details">
                              {{ eachdata?.dateandtime }}
                            </p>
                          </div>
                          <div class="col-md-2">
                            <button type="button" class="viewdetails_btn" (click)="onWorkcardSelection(1)"
                              *ngIf="eachdata?.code == 'WIPC'" mdbRipple>
                              Workcard
                            </button>
                            <button type="button" class="viewdetails_btn" (click)="onWorkcardSelection(2)"
                            *ngIf="eachdata?.code == 'PIWC'" mdbRipple>
                            Inspection
                          </button>
                          <button type="button"  class="viewdetails_btn"  *ngIf="booking_details?.cust_status?.st_code == 'CDLC'&& eachdata?.code == 'CDLC' " (click)="navigateToDrop()" >Drop Location</button>
                            <!-- <button status="primary" (click)="onWorkcardSelection(1);" *ngIf="eachdata.code=='WIPC'">Workcard</button> -->
                          <button *ngIf="eachdata?.code == 'HOLDC'" (click)="openReasonModal(eachdata.reason)" type="button" class="btn btn-danger">
                            Reason
                          </button>  
                          </div>
                          <br />
                        </div>
                      </div>
                      <div class="col-xl-6" *ngIf="workcard_showFlag == 1">
                        <div class="row">
                          <div class="col-6">
                            <h2 class="bodyheading">Workcard</h2>
                          </div>

                          <div class="col-6">
                            <h2 style="cursor: pointer;" class="bodyheading text-end" (click)="navigateToWorkFlow()"><i class="fa-solid fa-backward"></i></h2>
                          </div>
                        </div>
                        <div class="row">
                          <table id="package_table">
                            <thead>
                              <tr>
                                <th colspan="4" style="
                                      text-align: center;
                                      background-color: #eee;
                                      font-size: 1rem;
                                    ">
                                  Package & Additional Jobs
                                </th>
                              </tr>
                              <tr>
                                <th>No</th>
                                <th>Job Name</th>
                                <th>Amount.</th>
                                <th>Status</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngIf="booking_details">
                                <td>1</td>
                                <td>
                                  {{
                                  booking_details.booking_package.pkg_name
                                  | titlecase
                                  }}
                                </td>
                                <td>
                                  AED
                                  {{
                                  booking_details.booking_package
                                  .bkp_cust_amount * 1 + booking_details.booking_package
                                  .bkp_vat *1 | number: "1.2-2"
                                  }}
                                </td>
                                <td class="amount" style="color: red" *ngIf="
                                      booking_details.booking_package
                                        .bkp_payment_status == 0
                                    ">
                                  Pending
                                </td>
                                <td class="amount" style="color: green" *ngIf="
                                      booking_details.booking_package
                                        .bkp_payment_status == 1
                                    ">
                                  Paid
                                </td>
                              </tr>
                              <tr *ngIf="booking_details">
                                <td>2</td>
                                <td>Pickup Cost</td>
                                <td>
                                  AED {{ booking_details.bk_pickup_cost }}
                                </td>
                                <td class="amount" style="color: red" *ngIf="
                                      booking_details.booking_package
                                        .bkp_payment_status == 0
                                    ">
                                  Pending
                                </td>
                                <td class="amount" style="color: green" *ngIf="
                                      booking_details.booking_package
                                        .bkp_payment_status == 1
                                    ">
                                  Paid
                                </td>
                              </tr>
                              <tr *ngIf="
                                    booking_details &&
                                    booking_details.bk_consumcost != '0.00'
                                  ">
                                <td>3</td>
                                <td>Consumables</td>
                                <td>
                                  AED
                                  {{
                                  booking_details.bk_consumcost
                                  | number : "1.2-2"
                                  }}
                                </td>
                                <td class="amount" style="color: red" *ngIf="
                                      booking_details.booking_package
                                        .bkp_payment_status == 0
                                    ">
                                  Pending
                                </td>
                                <td class="amount" style="color: green" *ngIf="
                                      booking_details.booking_package
                                        .bkp_payment_status == 1
                                    ">
                                  Paid
                                </td>
                              </tr>
                              <tr *ngFor="
                                    let eachjob of booing_jobs;
                                    let i = index
                                  ">
                                <ng-container *ngIf="eachjob.bkj_status !=1">
                                  <td *ngIf="
                                      booking_details &&
                                      booking_details.bk_consumcost != '0.00'
                                    ">
                                    {{ i + 4 }}
                                  </td>
                                  <td *ngIf="
                                      booking_details &&
                                      booking_details.bk_consumcost == '0.00'
                                    ">
                                    {{ i + 3 }}
                                  </td>
                                  <td>
                                    {{ eachjob.bkj_jobname | titlecase }}
                                  </td>
                                  <td>AED {{ eachjob.bkj_cust_cost }}</td>
                                  <td class="amount" style="color: red" *ngIf="eachjob.bkj_status == 1">
                                    Pending
                                  </td>
                                  <td class="amount" style="color: green" *ngIf="eachjob.bkj_status == 2">
                                    Approved
                                  </td>
                                </ng-container>
                              </tr>
                            </tbody>
                          </table>
                          <hr>
                          <div class="row">
                            <div class="col-4">

                            </div>
                            <div class="col-4">

                            </div>
                            <div class="col-4" style=" text-align: center;">
                              <div style="display: inline-flex;">
                                <strong>
                                  <p>Grand Total:<b style="font-size: .7vw;">(VAT Inclusive)</b>  </p>
                                </strong>
                                <p>{{this.booking_details.grand_total | number: "1.2-2"}}</p>
                              </div>
                              <div style="display: inline-flex;">
                                <strong>
                                  <p>Paid Amount : </p>
                                </strong>
                                <p>{{this.booking_details.paid_total | number: "1.2-2"}}</p>
                              </div>
                              <div style="display: inline-flex;">
                                <strong>
                                  <p>Balance : </p>
                                </strong>
                                <p>{{this.booking_details.grand_total*1-this.booking_details.paid_total*1 | number:
                                  "1.2-2"}}</p>
                              </div>
                            </div>
                          </div>
                          <hr *ngIf="pendingJobs_flag">
                          <table id="package_table" *ngIf="pendingJobs_flag">
                            <thead>
                              <tr>
                                <th colspan="4" style="
                                    text-align: center;
                                    background-color: #F7941E;
                                    font-size: 1rem;
                                  ">
                                  Job Pending Approval
                                </th>
                              </tr>
                              <tr>
                                <th>
                                  <!-- <input type="checkbox" [(ngModel)]="selectAll" (click)="Selectalljobs()"
                                    name="select_alljobs"> -->
                                </th>
                                <!-- <th>No</th> -->
                                <th>Job Name</th>
                                <th>Cost.</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="
                                  let eachjob of booing_jobs;
                                  let i = index
                                ">
                                <ng-container *ngIf="eachjob.bkj_status ==1">
                                  <td>
                                    <input type="checkbox" [(ngModel)]="eachjob.iselected"
                                      (click)="jobsel(eachjob.iselected, eachjob)">
                                  </td>
                                  <td>
                                    {{ eachjob.bkj_jobname | titlecase }}
                                  </td>
                                  <td>AED {{ eachjob.bkj_cust_cost }}</td>
                                </ng-container>
                              </tr>
                            </tbody>
                          </table>
                          <hr>
                          <div class="row">
                            <div class="col-4">

                            </div>
                            <div class="col-4">
                              <button type="button" class="btn btn-success" (click)="approveSelectedJobs(1);"
                                *ngIf="selected_jobs.length>0" mdbRipple>
                                Reject
                              </button>
                            </div>
                            <div class="col-4" style=" text-align: center;">
                              <button type="button" class="btn btn-success" (click)="approveSelectedJobs(0);"
                                *ngIf="selected_jobs.length>0" mdbRipple>
                                Approve
                              </button>
                            </div>
                          </div>
                          <br />
                        </div>
                      </div>
                      <div class="col-xl-6" *ngIf="workcard_showFlag == 2">
                        <div class="row">
                          <div class="col-6">
                            <h2 class="bodyheading">Workcard</h2>
                          </div>
                          <div class="col-6">
                            <h2 (click)="workcard_showFlag=0">Back</h2>
                          </div>
                        </div>
                        <div class="row" *ngIf="inspectionDetails">
                          <div class="col-md-12">
                              <div class="row">
                                  <div class="col-md-12">
                                      <label class="label col-form-label" style="font-size: 14px; font-weight: 700; width: 100%;">Pickup Inspection Details</label>
                                  </div>
                                  <div class="col-md-6">
                                      <label class="label col-form-label">Pickup Inspection Date</label>
                                      <input type="text" nbInput class="icon-input" fullWidth fieldSize="small" [value]="inspectionDetails.bki_created_on | date : 'dd-MM-yyyy'" readonly />
                                  </div>
                                  <div class="col-md-6">
                                    <label class="label col-form-label">Pickup Inspection By</label>
                                    <input type="text" nbInput class="icon-input" fullWidth fieldSize="small" [(ngModel)]="inspectionDetails.us_firstname"
                                    [ngModelOptions]="{ standalone: true }"
                                    readonly />
                                </div>
                                <div class="col-md-6">
                                  <label class="label col-form-label">Registration Card</label>
                                  <input type="text" nbInput class="icon-input" fullWidth fieldSize="small" *ngIf="inspectionDetails.bki_reg_card_flag == 0" value="Hard Copy" readonly />
                                  <input type="text" nbInput class="icon-input" fullWidth fieldSize="small" *ngIf="inspectionDetails.bki_reg_card_flag == 1" value="Soft Copy" readonly />
                                  <input type="text" nbInput class="icon-input" fullWidth fieldSize="small" *ngIf="inspectionDetails.bki_reg_card_flag == 2" value="None" readonly />
                              </div>
                              <div class="col-md-6" [ngStyle]="{ border: inspectionDetails.color }">
                                <label class="label col-form-label">Registration Validity</label>
                                <input type="text" nbInput class="icon-input" fullWidth fieldSize="small" [value]="inspectionDetails.cv_registrationvalidity | date : 'dd-MM-yyyy'" readonly />
                              </div>
                              <div class="col-md-6">
                                <label class="label col-form-label">Pickup Odometer</label>
                                <input type="text" nbInput class="icon-input" fullWidth fieldSize="small" [value]="inspectionDetails.pickup_odometer" readonly />
                              </div>
                                  <div class="col-md-12">
                                      <label class="label col-form-label" style="margin: 10px 0 0px 0px; font-size: 14px; font-weight: 700; width: 100%;">Contents in vehicle</label>
                                      <ng-container *ngFor="let contents of inspectionDetails.contents">
                                          <input mdbCheckbox class="form-check-input" type="checkbox" value="true" id="flexCheckChecked" [checked]="true" [ngStyle]="{'background-color': '#3186ac', 'border-color': '#3186ac', 'margin-top' : '1.25%'}" />
                                          {{ contents.civ_name }}
                                      </ng-container>
                                  </div>
                                  <div class="col-md-12">
                                    <label class="label col-form-label">Pickup Notes</label><br />
                                    <textarea
                                      nbInput
                                      fullWidth
                                      placeholder="No additional complaints"
                                      rows="3"
                                      value="{{ inspectionDetails.bki_additionalcomments }}"
                                      readonly
                                    ></textarea>
                                </div>
                                  <div class="col-md-12" *ngIf="inspectionDetails.media.length > 0">
                                      <div class="row" style="margin-top: 2% !important; padding: 0 !important">
                                          <ng-container *ngFor="let media of inspectionDetails.media; let z = index">
                                              <div class="col-md-4" *ngIf="media.bka_image_type != 6" style="padding: 0 !important">
                                                <br />
                                                <label
                                                  class="label col-form-label" style="color: black; margin-bottom: 5%;"
                                                  *ngIf="media.bka_image_type == '10' && media.bka_type == '6'"
                                                  >Vin Number</label
                                                >
                                                <label
                                                  class="label col-form-label" style="color: black; margin-bottom: 5%;"
                                                  *ngIf="media.bka_image_type == '10' && media.bka_type == '5'"
                                                  >Odometer</label
                                                >
                                                <label
                                                  class="label col-form-label" style="color: black; margin-bottom: 5%;"
                                                  *ngIf="media.bka_image_type == '5'"
                                                  >Front View</label
                                                >
                                                <label
                                                  class="label col-form-label" style="color: black; margin-top: 5%; margin-bottom: 5%;"
                                                  *ngIf="media.bka_image_type == '4'"
                                                  >Back View</label
                                                >
                                                <label
                                                  class="label col-form-label" style="color: black; margin-top: 5%; margin-bottom: 5%;"
                                                  *ngIf="media.bka_image_type == '3'"
                                                  >Right View</label
                                                >
                                                <label
                                                  class="label col-form-label" style="color: black; margin-top: 5%; margin-bottom: 5%;"
                                                  *ngIf="media.bka_image_type == '2'"
                                                  >Left View</label
                                                >
                                                <label
                                                  class="label col-form-label" style="color: black; margin-top: 5%; margin-bottom: 5%;"
                                                  *ngIf="media.bka_image_type == '1'"
                                                  >Top View</label
                                                >
                                                <label
                                                  class="label col-form-label" style="color: black; margin-top: 5%; margin-bottom: 5%;"
                                                  *ngIf="media.bka_image_type == '0'"
                                                  >Additional Image</label
                                                >
                                                <br />
                                                <a href="{{base_url + media.bka_url}}" data-fancybox="gallery" data-caption="Caption">
                                                  <img
                                                  [src]="base_url + media.bka_url"
                                                  class="user-img"
                                                  style="
                                                    width: 99%;
                                                    padding: 3%;
                                                    border: 1px solid #eee;
                                                    height: auto;
                                                  "
                                                />
                                                </a>
                                              </div>
                                          </ng-container>
                                      </div>
                                  </div>
                                  <div class="col-md-12" *ngIf="inspectionDetails.media.length > 0">
                                      <ng-container *ngFor="let media of inspectionDetails.media">
                                          <label *ngIf="media.bka_image_type == 6" style="margin-top: 35%; font-size: 14px; font-weight: 700; width: 100%;">Pickup Inspection Video</label>
                                          <video width="100%" height="300" controls *ngIf="media.bka_image_type == 6" style="padding: 1%; border: 3px solid #eee; margin-top: 1%">
                                              <source src="{{ base_url + media.bka_url }}" type="video/mp4" />
                                              <source src="{{ base_url + media.bka_url }}" type="video/ogg" />
                                          </video>
                                      </ng-container>
                                  </div>
                                  <div class="col-md-12" style="margin-top: 5%;">
                                      <label style="margin: 10px 0 0px 0px; font-size: 14px; font-weight: 700; width: 100%;">Customer Signature</label>
                                  </div>
                                  <img [src]="base_url + inspectionDetails.bki_signature" width="200px" height="50px" />
                              </div>
                          </div>
                      </div>
                      
                      </div>
                    </div>
                    <br />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal" tabindex="-1" id="cancelModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title"
          style="font-family: 'Montserrat-Semibold', sans-serif; font-size: 24px; text-align: center;">Cancel this Booking
        </h1>
        <button (click)="closeaddModal()" type="button" class="btn-close" data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div style="display: flex; flex-direction: column; gap: 10px;">
          <textarea [(ngModel)]="cancelReason" name="cancelReason"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="closeaddModal()">Close</button>
        <button type="button" (click)="changeBookingstatus(0)" class="btn btn-warning">Cancel</button> 
      </div>
    </div>
  </div>
</div>
<div class="modal" tabindex="-1" id="holdModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title"
          style="font-family: 'Montserrat-Semibold', sans-serif; font-size: 24px; text-align: center;">Hold this Booking
        </h1>
        <button (click)="closeholdModal()" type="button" class="btn-close" data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div style="display: flex; flex-direction: column; gap: 10px;">
          <textarea [(ngModel)]="holdReason" name="holdReason"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="closeholdModal()">Close</button>
        <button type="button" (click)="changeBookingstatus(1)" class="btn btn-warning">Hold</button>
      </div>
    </div>
  </div>
</div>
<div class="modal" tabindex="-1" id="rescheduleModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title"
          style="font-family: 'Montserrat-Semibold', sans-serif; font-size: 24px; text-align: center;">Hold this Booking
        </h1>
        <button (click)="closeaddModal()" type="button" class="btn-close" data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div style="display: flex; flex-direction: column; gap: 10px;">
          <mat-form-field>
            <input matInput [matDatepicker]="picker" (dateChange)="ondateSelection();"
              placeholder="Choose a booking date" [(ngModel)]="bookingDate" [min]="minSelectableDate" [max]="maxSelectableDate" >
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <i class="fa fa-calendar"></i>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="closeholdModal()">Close</button>
        <button type="button" (click)="changeBookingstatus(1)" class="btn btn-warning">Save</button>
      </div>
    </div>
  </div>
</div>
<div class="modal" tabindex="-1" id="reasonModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title">Reason</h1>
        <button (click)="closeReasonModal()" type="button" class="btn-close" data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>
      <div class="modal-body">
      <p>{{holdReasonForModal}}</p>
      </div>
      <div class="modal-footer">
        <button (click)="closeReasonModal()" type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
        <!-- <button (click)="updateModal()" type="button" class="btn btn-warning">Update</button> -->
      </div>
    </div>
  </div>
</div>