<div class="banner_section">
  <div class="inner_banner_section"></div>
</div>
<div class="brands_section_area">
  <div class="inner_brands_section">
    <div class="container">
      <div class="row">
        <div class="col-xl-12 booking-status-content">
          <div class="main_brands_area">
            <div class="inner_breand_logo">
              <h2 class="heading">Booking</h2>
              <div class="choose_car_box">
                <div class="inner_choose_car_box">
                  <div class="choose_car_box_main">
                    <div class="row">
                      <div class="col-xl-6">
                        <div class="row">
                          <h2 class="bodyheading">My Active booking</h2>
                        </div>
                        <div class="row card_section" *ngFor="let eachbookingData of activeBookings"
                          [ngStyle]="{ 'background-color': bgColor1 }" (click)="changeBackgroundColor(1)" style=" margin-bottom: 2%; ">
                          <div class="col-md-4">
                            <div class="card_image_section">
                              <img src="./assets/icons/benz_icon.png" alt="" srcset="" style="width: 100%;"/>
                            </div>
                          </div>
                          <div class="col-md-8">
                            <br />
                            <p class="vehicle-details">
                              {{ eachbookingData.cv_plate_number }}
                            </p>
                            <p class="vehicle-details">
                              {{ eachbookingData.cv_make }}
                              {{ eachbookingData.cv_model }}
                              {{ eachbookingData.cv_variant }}
                            </p>
                            <p class="vehicle-details">
                              {{ eachbookingData.pkg_name }}({{
                              eachbookingData.bk_number
                              }})
                            </p>
                            <p class="vehicle-details">
                              Date:
                              {{
                              eachbookingData.bk_booking_date
                              | date : "dd-MM-yyyy"
                              }}
                            </p>
                            <p class="vehicle-details">
                              Time:
                              {{ formatTime(eachbookingData.tm_start_time) }} -
                              {{ formatTime(eachbookingData.tm_end_time) }}
                            </p>

                          </div>
                          <div class="row" style=" padding: 2%; margin-left: 0%; ">
                            <div class="col-xl-4" style="padding: 0% !important;">
                              <div class="outlinebutton">
                                <button>Cancel</button>
                              </div>
                            </div>
                            <div class="col-xl-4" style="padding-left: 1% !important;padding-right: 0% !important;">
                              <div class="outlinebutton">
                                <button>Hold</button>
                              </div>
                            </div>
                            <div class="col-xl-4" style="padding-left: 1% !important;padding-right: 0% !important;">
                              <div class="outlinebutton">
                                <button>Reschedule</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <br />
                      <div class="col-xl-6" *ngIf="workcard_showFlag == 0">
                        <div class="row">
                          <h2 class="bodyheading">Booking Status</h2>
                        </div>
                        <div class="row" *ngFor="let eachdata of statusFlow" style=" margin-bottom: 2%; ">
                          <div class="col-md-4 d-flex justify-content-center align-items-center">
                            <div class="status_image_section">
                              <img src="{{ eachdata.icon }}" style="width: 74px; height: 74px" />
                            </div>
                          </div>
                          <div class="col-md-6">
                            <p class="status-details">{{ eachdata.status }}</p>
                            <p class="sub-status-details">
                              {{ eachdata.dateandtime }}
                            </p>
                          </div>
                          <div class="col-md-2">
                            <button type="button" class="btn btn-info" (click)="onWorkcardSelection(1)"
                              *ngIf="eachdata.code == 'WIPC'" mdbRipple>
                              Workcard
                            </button>
                            <!-- <button status="primary" (click)="onWorkcardSelection(1);" *ngIf="eachdata.code=='WIPC'">Workcard</button> -->
                          </div>
                          <br />
                        </div>
                      </div>
                      <div class="col-xl-6" *ngIf="workcard_showFlag == 1">
                        <div class="row">
                          <h2 class="bodyheading">Workcard</h2>
                        </div>
                        <div class="row">
                          <table id="package_table">
                            <thead>
                              <tr>
                                <th colspan="4" style="
                                      text-align: center;
                                      background-color: #eee;
                                      font-size: 1rem;
                                    ">
                                  Package & Additional Jobs
                                </th>
                              </tr>
                              <tr>
                                <th>No</th>
                                <th>Job Name</th>
                                <th>Amount.</th>
                                <th>Status</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngIf="booking_details">
                                <td>1</td>
                                <td>
                                  {{
                                  booking_details.booking_package.pkg_name
                                  | titlecase
                                  }}
                                </td>
                                <td>
                                  AED
                                  {{
                                  booking_details.booking_package
                                  .bkp_cust_amount * 1 + booking_details.booking_package
                                  .bkp_vat *1 | number: "1.2-2"
                                  }}
                                </td>
                                <td class="amount" style="color: red" *ngIf="
                                      booking_details.booking_package
                                        .bkp_payment_status == 0
                                    ">
                                  Pending
                                </td>
                                <td class="amount" style="color: green" *ngIf="
                                      booking_details.booking_package
                                        .bkp_payment_status == 1
                                    ">
                                  Paid
                                </td>
                              </tr>
                              <tr *ngIf="booking_details">
                                <td>2</td>
                                <td>Pickup Cost</td>
                                <td>
                                  AED {{ booking_details.bk_pickup_cost }}
                                </td>
                                <td class="amount" style="color: red" *ngIf="
                                      booking_details.booking_package
                                        .bkp_payment_status == 0
                                    ">
                                  Pending
                                </td>
                                <td class="amount" style="color: green" *ngIf="
                                      booking_details.booking_package
                                        .bkp_payment_status == 1
                                    ">
                                  Paid
                                </td>
                              </tr>
                              <tr *ngIf="
                                    booking_details &&
                                    booking_details.bk_consumcost != '0.00'
                                  ">
                                <td>3</td>
                                <td>Consumables</td>
                                <td>
                                  AED
                                  {{
                                  booking_details.bk_consumcost
                                  | number : "1.2-2"
                                  }}
                                </td>
                                <td class="amount" style="color: red" *ngIf="
                                      booking_details.booking_package
                                        .bkp_payment_status == 0
                                    ">
                                  Pending
                                </td>
                                <td class="amount" style="color: green" *ngIf="
                                      booking_details.booking_package
                                        .bkp_payment_status == 1
                                    ">
                                  Paid
                                </td>
                              </tr>
                              <tr *ngFor="
                                    let eachjob of booing_jobs;
                                    let i = index
                                  ">
                                <ng-container *ngIf="eachjob.bkj_status !=1">
                                  <td *ngIf="
                                      booking_details &&
                                      booking_details.bk_consumcost != '0.00'
                                    ">
                                    {{ i + 4 }}
                                  </td>
                                  <td *ngIf="
                                      booking_details &&
                                      booking_details.bk_consumcost == '0.00'
                                    ">
                                    {{ i + 3 }}
                                  </td>
                                  <td>
                                    {{ eachjob.bkj_jobname | titlecase }}
                                  </td>
                                  <td>AED {{ eachjob.bkj_cust_cost }}</td>
                                  <td class="amount" style="color: red" *ngIf="eachjob.bkj_status == 1">
                                    Pending
                                  </td>
                                  <td class="amount" style="color: green" *ngIf="eachjob.bkj_status == 2">
                                    Approved
                                  </td>
                                </ng-container>
                              </tr>
                            </tbody>
                          </table>
                          <hr>
                          <div class="row">
                            <div class="col-4">

                            </div>
                            <div class="col-4">

                            </div>
                            <div class="col-4" style=" text-align: center;">
                              <div style="display: inline-flex;">
                                <strong>
                                  <p>Grand Total <b style="font-size: .7vw;">(VAT Inclusive)</b> : </p>
                                </strong>
                                <p>{{this.booking_details.grand_total | number: "1.2-2"}}</p>
                              </div>
                              <div style="display: inline-flex;">
                                <strong>
                                  <p>Paid Amount : </p>
                                </strong>
                                <p>{{this.booking_details.paid_total | number: "1.2-2"}}</p>
                              </div>
                              <div style="display: inline-flex;">
                                <strong>
                                  <p>Balance Amount : </p>
                                </strong>
                                <p>{{this.booking_details.grand_total*1+this.booking_details.paid_total*1 | number:
                                  "1.2-2"}}</p>
                              </div>
                            </div>
                          </div>
                          <hr *ngIf="pendingJobs_flag">
                          <table id="package_table" *ngIf="pendingJobs_flag">
                            <thead>
                              <tr>
                                <th colspan="4" style="
                                    text-align: center;
                                    background-color: #F7941E;
                                    font-size: 1rem;
                                  ">
                                  Job Pending Approval
                                </th>
                              </tr>
                              <tr>
                                <th>
                                  <input type="checkbox" [(ngModel)]="selectAll" (click)="Selectalljobs()"
                                    name="select_alljobs">
                                </th>
                                <!-- <th>No</th> -->
                                <th>Job Name</th>
                                <th>Cost.</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="
                                  let eachjob of booing_jobs;
                                  let i = index
                                ">
                                <ng-container *ngIf="eachjob.bkj_status ==1">
                                  <td>
                                    <input type="checkbox" [(ngModel)]="eachjob.iselected"
                                      (click)="jobsel(eachjob.iselected, eachjob)">
                                  </td>
                                  <td>
                                    {{ eachjob.bkj_jobname | titlecase }}
                                  </td>
                                  <td>AED {{ eachjob.bkj_cust_cost }}</td>
                                </ng-container>
                              </tr>
                            </tbody>
                          </table>
                          <hr>
                          <div class="row">
                            <div class="col-4">

                            </div>
                            <div class="col-4">
                              <button type="button" class="btn btn-success" (click)="approveSelectedJobs(1);"
                                *ngIf="selected_jobs.length>0" mdbRipple>
                                Reject
                              </button>
                            </div>
                            <div class="col-4" style=" text-align: center;">
                              <button type="button" class="btn btn-success" (click)="approveSelectedJobs(0);"
                                *ngIf="selected_jobs.length>0" mdbRipple>
                                Approve
                              </button>
                            </div>
                          </div>
                          <br />
                        </div>
                      </div>
                    </div>
                    <br />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>