<div class="banner_section">
    <div class="inner_banner_section">
    </div>
</div>
<div class="brands_section_area">
    <div class="inner_brands_section">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 service-content">
                    <div class="main_brands_area">
                        <div class="inner_breand_logo">
                            <h2 class="heading">Blog</h2>
                            <div class="choose_car_box">
                                <div class="inner_choose_car_box">
                                    <div class="choose_car_box_main">
                                        <div class="row">
                                            <div class="col-xl-6" (click)="blogdetailspage()">
                                                <div class="service_image_section">
                                                    <div class="inner_service_image_section">
                                                        <img src="./assets/images/blog_1.png" alt=""
                                                            srcset="" style="z-index: 1;">
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="about-service">
                                                    <strong><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In diam
                                                        elit, vehicula eget ante eu,</p></strong>
                                                </div>
                                            </div>
                                            <div class="col-xl-6" (click)="blogdetailspage()">
                                                <div class="service_image_section">
                                                    <div class="inner_service_image_section">
                                                        <img src="./assets/images/blog_2.png" alt=""
                                                            srcset="" style="z-index: 1;">
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="about-service">
                                                    <strong><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In diam
                                                        elit, vehicula eget ante eu,</p></strong>
                                                </div>
                                            </div>
                                        </div>
                                        <br><br>
                                        <div class="row">
                                            <div class="col-xl-6" (click)="blogdetailspage()">
                                                <div class="service_image_section">
                                                    <div class="inner_service_image_section">
                                                        <img src="./assets/images/blog_3.png" alt=""
                                                            srcset="" style="z-index: 1;">
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="about-service">
                                                    <strong><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In diam
                                                        elit, vehicula eget ante eu,</p></strong>
                                                </div>
                                            </div>
                                            <div class="col-xl-6" (click)="blogdetailspage()">
                                                <div class="service_image_section">
                                                    <div class="inner_service_image_section">
                                                        <img src="./assets/images/blog_4.png" alt=""
                                                            srcset="" style="z-index: 1;">
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="about-service">
                                                    <strong><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In diam
                                                        elit, vehicula eget ante eu,</p></strong>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>