<div class="footer_area">
    <div class="main_footer_area">
        <div class="inner_footer_area">
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-md-6 col-12">
                        <div class="footer_column_section">
                            <div class="inner_footer_column_section">
                                <div class="footer_heading">
                                    <h4>Services</h4>
                                </div>
                                <div class="footer_column_content">
                                    <ul>
                                        <li *ngFor="let data of serviceData" >
                                            <a href="">{{data.package.pkg_name}}</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-12">
                        <div class="footer_column_section">
                            <div class="inner_footer_column_section">
                                <div class="footer_heading">
                                    <h4>Company</h4>
                                </div>
                                <div class="footer_column_content">
                                    <ul>
                                        <li>
                                            <a href="about">About Us</a>
                                        </li>
                                        <li>
                                            <a href="team">Team</a>
                                        </li>
                                        <li>
                                            <a href="faq">FAQs</a>
                                        </li>
                                        <li>
                                            <a href="contact">Contact us</a>
                                        </li>
                                        <li>
                                            <a href="">Terms and Conditions</a>
                                        </li>
                                        <li>
                                            <a href="">Privacy Policy</a>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-12">
                        <div class="footer_column_section">
                            <div class="inner_footer_column_section">
                                <div class="footer_heading">
                                    <h4>Contact Us</h4>
                                </div>
                                <div class="footer_column_content">
                                    <ul>
                                        <li>
                                            <a href="">Email:</a>
                                        </li>
                                        <li>
                                            <a href="">support@autoversa.com</a>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-12">
                        <div class="footer_column_section">
                            <div class="inner_footer_column_section">
                                <div class="footer_heading">
                                    <h4>Connect with us</h4>
                                </div>
                                <div class="footer_column_content">
                                    <ul class="social_icon_area">
                                        <li>
                                            <a href=""><i class="fa-brands fa-facebook-f"></i></a>
                                        </li>
                                        <li>
                                            <a href=""><i class="fa-brands fa-twitter"></i></a>
                                        </li>
                                        <li>
                                            <a href=""><i class="fa-brands fa-instagram"></i></a>
                                        </li>

                                    </ul>
                                    <div class="footer_play_store">
                                        <div class="footer_play_store_inner">
                                            <a href="" class="store_btn left_att">
                                                <img src="./assets/images/app_store.png" alt="" srcset="">
                                            </a>
                                            <a href="" class="store_btn">
                                                <img src="./assets/images/play_store.png" alt="" srcset="">
                                            </a>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
