<div class="banner_section">
    <div class="inner_banner_section">
    </div>
</div>
<div class="brands_section_area">
    <div class="inner_brands_section">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 aboutus-content">
                    <div class="main_brands_area">
                        <div class="inner_breand_logo">
                            <h2 class="heading">About</h2>
                            <div class="choose_car_box">
                                <div class="inner_choose_car_box">
                                    <div class="choose_car_box_main">
                                        <div class="row">
                                            <div class="col-xl-3">
                                                <div class="team_image_section">
                                                    <div class="inner_team_image_section">
                                                        <img src="./assets/images/aboutus.png" alt=""
                                                            srcset="" style="z-index: 1;">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xl-9 aboutus_details">
                                                <div class="form_heading">
                                                    <div class="about-service">
                                                        <p class="bodycontent">Lorem ipsum dolor sit amet, consectetur
                                                            adipiscing elit. Nunc eu placerat risus. Morbi euismod
                                                            molestie faucibus. Nunc egestas nulla non tempus
                                                            sollicitudin. Donec vestibulum orci non efficitur sodales.
                                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                            Nulla in ex eget odio fringilla tempor.</p>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-xl-9 col-9">
                                                            <h2 class="h2content">Oil Service</h2>
                                                        </div>
                                                        <div class="col-xl-3 col-3">
                                                            <div class="icon-container">
                                                              <i class='fas fa-greater-than'></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <br>
                                                    <div class="row">
                                                        <div class="col-xl-9 col-9">
                                                            <h2 class="h2content">Major Service</h2>
                                                        </div>
                                                        <div class="col-xl-3 col-3">
                                                            <div class="icon-container">
                                                              <i class='fas fa-greater-than'></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <br>
                                                    <div class="row">
                                                        <div class="col-xl-9 col-9">
                                                            <h2 class="h2content">Minor Service</h2>
                                                        </div>
                                                        <div class="col-xl-3 col-3">
                                                            <div class="icon-container">
                                                              <i class='fas fa-greater-than'></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <br>
                                                    <div class="row">
                                                        <div class="col-xl-9 col-9">
                                                            <h2 class="h2content">Car Service</h2>
                                                        </div>
                                                        <div class="col-xl-3 col-3">
                                                            <div class="icon-container">
                                                              <i class='fas fa-greater-than'></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <br>
                                                    <h2 class="h2content2">Get a better service experience right at your
                                                        fingertips.</h2>
                                                    <br>
                                                    <p class="bodycontent">Download our app. Scheduling a car
                                                        servicing has never been so easy. Book our service today.</p>
                                                    <br>
                                                    <div class="row">
                                                        <div class="col-md-6 col-12 bodyapklink">
                                                            <a href="" class="store_btn">
                                                                <img src="./assets/images/play_store.png" alt="" srcset="" style="border-radius: 15px;">
                                                            </a>
                                                        </div>
                                                        <div class="col-md-6 col-12 bodyapklink">
                                                            <a href="" class="store_btn left_att">
                                                                <img src="./assets/images/app_store.png" alt="" srcset="" style="border-radius: 15px;">
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <br><br>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>